<!--(@routingAnimation.done)="pageAnimationFinished($event)"-->
<div
  class="container"
  #catalogEdition
  @routingAnimation
  i18n
>
  <ng-container *ngIf="scroll$ | async"></ng-container>
  <ng-container *ngIf="company$ | async"></ng-container>  
  <ng-container *ngIf="showGoTop$ | async"></ng-container>
  <ng-container *ngIf="settingsData$ | async"></ng-container>
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>  
  <ng-container *ngIf="toolbarAnimationFinished$ | async "></ng-container>  
  <ng-container *ngIf="parameters$ | async "></ng-container>  
  <ng-container *ngIf="translations$ | async "></ng-container>  
  <ng-container *ngIf="updateCompany$ | async "></ng-container>
  <ng-container *ngIf="updateCompanyCatalog$ | async "></ng-container>      
  <ng-container *ngIf="deleteCompanyTranslations$ | async "></ng-container>      
  <ng-container *ngIf="addCompanyTranslations$ | async "></ng-container>   
  <ng-container *ngIf="duplicateMainImage$ | async "></ng-container>     

  <mat-card class="card">
    <form
        class="layout"
        (ngSubmit)="onSubmit()"
        [formGroup]="companyForm"
        #f="ngForm"
      >
      <mat-accordion multi>
        <mat-expansion-panel
          (opened)="panelOpenState[0] = true"
          (closed)="panelOpenState[0] = false"
          hideToggle="true"
          [expanded]="panelOpenState[0]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[0]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" [svgIcon]="catalogIcon">
              </mat-icon>
              <label class="accordion-label"
                >INFORMACIÓN PRINCIPAL DE LA COMPANIA</label
              >
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[0]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="grid-multiple margin-top">
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='name'"
                [bordered]="true"
                [formField]="companyForm.controls.name"
                leftHint="Campo requerido"
                [fieldMaxLength]="300"
                [showRightHint]="true"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                fieldHelp="Especifique el nombre asignado a la compañía"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Descripción/Nombre de la compañía</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='prefix'"
                [bordered]="true"
                [formField]="companyForm.controls.prefix"
                leftHint="Campo requerido"
                [fieldMaxLength]="50"
                [showRightHint]="true"                
                [showCloseButton]="true"
                fieldHelp="Especifique la abreviación de la compañía"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Abreviación de la compañía</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="companyForm.controls.reference"
                leftHint="Campo opcional"
                [fieldMaxLength]="100"
                [showRightHint]="true"
                [showCloseButton]="true"
                fieldHelp="Especifique la referencia de la compañía"
              >
                <span fieldTitle class="label field__label"
                  >Referencia</span
                >
              </app-input-field>
            </div>
            <div class="field-items field-items--bordered">
              <app-area-field
                [bordered]="false"
                [formField]="companyForm.controls.notes"
                [fieldMaxLength]="500"
                [showRightHint]="true"
                [showCloseButton]="true"
                [minRows]="1"
                [maxRows]="5"
                fieldHelp="Especifique las notas referentes a esta compañía"
              >
                <span fieldTitle class="label field__label"
                  >Notas referentes a la compañía</span
                >
              </app-area-field>              
            </div>                     
            <div class="field-items">
              <fieldset class="field__container">
                <div class="image-and-field">
                  <div class="field-components">
                    <span class="label field__label">Imagen a mostrar</span>                
                    <mat-form-field appearance="fill" class="field__field">
                      <input
                        class="field__input"
                        matInput
                        [formControl]="companyForm.controls.mainImageName"                        
                        [readonly]="true"
                      />
                      <input type="file" style="display: none" (change)="onFileSelected($event)" accept=".png,.jpg,.jpeg,.svg,.bmp" #fileInput> 
                      <button
                        matSuffix
                        mat-icon-button
                        (click)="fileInput.click()"
                        style="margin-right: 5px;"
                        matTooltip="Abre la ventana de dialogo para buscar un archivo tipo imagen"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>search</mat-icon>
                      </button>
                      <button
                        *ngIf="company.mainImage"
                        matSuffix
                        mat-icon-button
                        (click)="removeImage()"
                        style="margin-right: 5px;"
                        matTooltip="Remueve la imagen de la compañía"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>          
                    <span class="field__help">Busque en su disco la imagen que se mostrará en las vistas de esta compañía</span>
                  </div>                  
                  <div *ngIf="!loading" class="card-image">
                    <div
                      class="image-container"
                      *ngIf="this.company.mainImage"
                    >
                      <img                
                        @dissolve
                        appImageNotFound                
                        class="mold-image"                        
                        [src]="this.company.mainImage"
                        [alt]="this.company.mainImage"            
                        fill
                      >      
                    </div>
                    <div
                      *ngIf="!this.company.mainImage"
                      class="icon-container"
                    >
                      <mat-icon class="default-icon" [svgIcon]="catalogIcon"></mat-icon>
                    </div>    
                  </div>
                </div>                
              </fieldset>              
            </div>
                   
          </div>          
        </mat-expansion-panel>        
      </mat-accordion>
    </form>
    <div
      *ngIf="company.id"
      class="catalog-footer"
    >
      <div class="grid-dates">
        <div class="flex">
          <div class="readonly-value item-id">{{ company.id }}</div>
          <div class="label-with-no-index">ID del registro</div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(company.createdAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de creación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ company.createdBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Creado por</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(company.updatedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de modificación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ company.updatedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Modificado por</div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="grid-inactive" *ngIf="company.status === RecordStatus.INACTIVE">
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(company.deletedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de inactivación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ company.deletedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Inactivado por</div>
          </div>
        </div>
        <div class="flex-inactive">
          <div class="label-inactive">
            <strong>El registro está INACTIVO</strong>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>