<!--(@routingAnimation.done)="pageAnimationFinished($event)"-->
<div
  class="container"
  #catalogEdition
  @routingAnimation
  i18n
>
  <ng-container *ngIf="scroll$ | async"></ng-container>
  <ng-container *ngIf="shift$ | async"></ng-container>  
  <ng-container *ngIf="showGoTop$ | async"></ng-container>
  <ng-container *ngIf="settingsData$ | async"></ng-container>
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>  
  <ng-container *ngIf="toolbarAnimationFinished$ | async "></ng-container>  
  <ng-container *ngIf="parameters$ | async "></ng-container>  
  <ng-container *ngIf="translations$ | async "></ng-container>  
  <ng-container *ngIf="updateShift$ | async "></ng-container>
  <ng-container *ngIf="updateShiftCatalog$ | async "></ng-container>      
  <ng-container *ngIf="deleteShiftTranslations$ | async "></ng-container>      
  <ng-container *ngIf="addShiftTranslations$ | async "></ng-container>   
  <ng-container *ngIf="genYesNoValues$ | async"></ng-container>

  <mat-card class="card">
    <form
        class="layout"
        (ngSubmit)="onSubmit()"
        [formGroup]="shiftForm"
        #f="ngForm"
      >
      <mat-accordion multi>
        <mat-expansion-panel
          (opened)="panelOpenState[0] = true"
          (closed)="panelOpenState[0] = false"
          hideToggle="true"
          [expanded]="panelOpenState[0]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[0]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" [svgIcon]="catalogIcon">
              </mat-icon>
              <label class="accordion-label"
                >INFORMACIÓN PRINCIPAL DEL TURNO</label
              >
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[0]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="grid-multiple margin-top">
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='name'"
                [bordered]="true"
                [formField]="shiftForm.controls.name"
                leftHint="Campo requerido"
                [fieldMaxLength]="300"
                [showRightHint]="true"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                fieldHelp="Especifique el nombre asignado al turno"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Descripción/Nombre del turno</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='prefix'"
                [bordered]="true"
                [formField]="shiftForm.controls.prefix"
                leftHint="Campo requerido"
                [fieldMaxLength]="50"
                [showRightHint]="true"                
                [showCloseButton]="true"
                fieldHelp="Especifique la abreviación del turno"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Abreviación del turno</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="shiftForm.controls.reference"
                leftHint="Campo opcional"
                [fieldMaxLength]="100"
                [showRightHint]="true"
                [showCloseButton]="true"
                fieldHelp="Especifique la referencia del turno"
              >
                <span fieldTitle class="label field__label"
                  >Referencia</span
                >
              </app-input-field>
            </div>
            <div class="field-items field-items--bordered">
              <app-area-field
                [bordered]="false"
                [formField]="shiftForm.controls.notes"
                [fieldMaxLength]="500"
                [showRightHint]="true"
                [showCloseButton]="true"
                [minRows]="1"
                [maxRows]="5"
                fieldHelp="Especifique las notas referentes a este turno"
              >
                <span fieldTitle class="label field__label"
                  >Notas referentes al turno</span
                >
              </app-area-field>              
            </div>
          </div>          
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState[1] = true"
          (closed)="panelOpenState[1] = false"
          hideToggle="true"
          [expanded]="panelOpenState[1]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[1]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" svgIcon="time"> </mat-icon>
              <label class="accordion-label">USO GENERAL</label>
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[1]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
 
          <div class="grid-multiple margin-top">

            <div class="field-items">
              <app-select-field
                [formField]="shiftForm.controls.twoDays"
                [list]="genYesNoValues.items"                
                fieldHelp="Especifique si shift es dos dias"
              >
                <span fieldTitle class="label field__label"
                  >¿Turno que cubre dos dias?</span
                >
              </app-select-field>                
            </div>

            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="shiftForm.controls.moveToDate"
                rightHint="Campo requerido"
                fieldInputType="number"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                [showRightHint]="true"
                fieldHelp="Especifique el número de día a sumar/restar/mantener"
                currentErrorMessage="Indique cero o deje en blanco si no desea alterar el día"
                currentErrorIcon="warn_line"                
              >
                <span fieldTitle class="label field__label"
                  >Indique el número de día a alterar en los reportes</span
                >
              </app-input-field>
            </div>

            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="shiftForm.controls.sequence"
                rightHint="Campo requerido"
                fieldInputType="number"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                [showRightHint]="true"
                fieldHelp="Especifique la secuencia de este turno en el día"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"                
              >
                <span fieldTitle class="label field__label"
                  >Secuencia del turno en el día</span
                >
              </app-input-field>
            </div>

            <div class="field-items">
              <app-select-field
                [formField]="shiftForm.controls.isFirstSequence"
                [list]="genYesNoValues.items"                
                fieldHelp="Especifique si es primera secuencia del día"
              >
                <span fieldTitle class="label field__label"
                  >¿Es la primera secuencia del dia?</span
                >
              </app-select-field>                
            </div>

            <div class="field-items">
              <app-select-field
                [formField]="shiftForm.controls.isLastSequence"                
                [list]="genYesNoValues.items"                
                fieldHelp="Especifique si es ultima secuencia del día"
              >
                <span fieldTitle class="label field__label"
                  >¿Es la última secuencia del dia?</span
                >
              </app-select-field>                
            </div>

            <!--from time-->
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 250px"
                [ngClass]="{
                  'field__container--error':
                  shiftForm.controls.fromTimeTime.touched && 
                  !shiftForm.controls.fromTimeTime.valid
                }"
              >
                <span class="label field__label">Hora desde</span>
                <div class="flex-columns">
                  <mat-form-field appearance="fill" class="field__field" style="width: 100%">
                    <input
                      class="field__input"
                      matInput
                      formControlName="fromTimeTime"
                      #fromTime
                      name="fromTimeTime"
                      style="min-height: 22px"
                      type="time"
                    />
                    <mat-hint>HH:MM AM/PM</mat-hint>
                    <mat-error
                      class="field__error field__required"                      
                    >
                      <span class="field__required-label"
                        ><strong>El rango de horas es incorrecto</strong></span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
                <span class="field__help"
                  >Especifique hora de incio del turno</span
                >
              </fieldset>
          </div>

            <!--to time-->
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 250px"
              >
                <span class="label field__label">Hora hasta</span>
                <div class="flex-columns">
                  <mat-form-field appearance="fill" class="field__field" style="width: 100%">
                    <input
                      class="field__input"
                      matInput
                      formControlName="toTimeTime"
                      #toTime
                      name="toTimeTime"
                      style="min-height: 22px"
                      type="time"
                    />
                    <mat-hint>HH:MM AM/PM</mat-hint>                  
                  </mat-form-field>
                </div>
                <span class="field__help"
                  >Especifique la hora que termina el turno</span
                >
              </fieldset>
            </div>
          </div>

        </mat-expansion-panel> 
        
        
      </mat-accordion>
    </form>
    <div
      *ngIf="shift.id"
      class="catalog-footer"
    >
      <div class="grid-dates">
        <div class="flex">
          <div class="readonly-value item-id">{{ shift.id }}</div>
          <div class="label-with-no-index">ID del registro</div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(shift.createdAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de creación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ shift.createdBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Creado por</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(shift.updatedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de modificación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ shift.updatedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Modificado por</div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="grid-inactive" *ngIf="shift.status === RecordStatus.INACTIVE">
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(shift.deletedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de inactivación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ shift.deletedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Inactivado por</div>
          </div>
        </div>
        <div class="flex-inactive">
          <div class="label-inactive">
            <strong>El registro está INACTIVO</strong>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>