<div i18n class="container">
  <div
      mat-dialog-title
      class="simple-flex title"      
    >
    <ng-container *ngIf="settingsData$ | async"></ng-container>
    <ng-container *ngIf="everySecond$ | async"></ng-container>
    <ng-container *ngIf="languages$ | async"></ng-container>

    <mat-icon class="icon-button" [svgIcon]="data.topIcon"></mat-icon>
    <div class="title-text" [innerHTML]="data.title"></div>    
  </div>
  <mat-divider class="divider-title"></mat-divider>
  <div class="dialog-content" mat-dialog-content>
    <form
      #translationsDialog
      focusInvalidInput
      class="layout"
      (ngSubmit)="onSubmit()"
      [formGroup]="translationsForm"
      #f="ngForm"
    >
      <div class="grid-multiple margin-top" @dissolve>        
        <div class="field-items language-selection">
          <app-select-field
            [formField]="translationsForm.controls.language"
            selectType="countries"
            [list]="languages.items"
            [showRightHint]="true"
            fieldHelp="Especifique el lenguaje/idioma"
            (selectSelectionChange)="setLanguage($event)"
          >
            <span fieldTitle class="label field__label">Lenguaje</span>
          </app-select-field>
        </div>
        <div class="field-items">
          <app-input-field
            [bordered]="true"
            [formField]="translationsForm.controls.description"
            leftHint="Campo requerido"  
            [fieldMaxLength]="100"
            [fieldRequired]="true"
            [showRightHint]="true"
            [showCloseButton]="true"
            fieldHelp="Traduzca la Descripción/Nombre relacionada al registro"
            [initialFocus]="true"
          >
            <span fieldTitle class="label field__label"
              >Traducción para el Nombre o Descripción del registro</span
            >
          </app-input-field>
        </div>
        <div class="field-items">
          <app-input-field
            [bordered]="true"
            [formField]="translationsForm.controls.reference"
            leftHint="Campo requerido"
            [fieldMaxLength]="50"
            [fieldRequired]="false"
            [showRightHint]="true"
            [showCloseButton]="true"
            fieldHelp="Traduzca la Referencia relacionada al registro"
            [initialFocus]="true"
          >
            <span fieldTitle class="label field__label"
              >Traducción para la Referencia del registro</span
            >
          </app-input-field>
        </div>
        <div class="field-items">
          <app-area-field
            [bordered]="true"
            [formField]="translationsForm.controls.notes"
            [fieldMaxLength]="500"
            [showRightHint]="true"
            [showCloseButton]="true"
            [minRows]="1"
            [maxRows]="5"
            fieldHelp="Traduzca las Notas relacionadas al registro"
          >
            <span fieldTitle class="label field__label"
              >Traducción para las Notas del registro</span
            >
          </app-area-field>
        </div>
        <section 
          class="section-fields"
          *ngIf="data.fromChecklistTemplate"
        >
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.anticipationMessageBody"
              [fieldMaxLength]="1000"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el mensaje anticipado que se enviará por el checklist"
            >
              <span fieldTitle class="label field__label"
                >Notificación anticipada a enviar antes de generar checklist</span
              >
            </app-area-field>               
          </div>                     
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.anticipationMessageSubject"
              [fieldMaxLength]="200"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el título de la notificación que se enviará por correo"
            >
              <span fieldTitle class="label field__label"
                >Título del mensaje a enviar (sólo para envío de correos)</span
              >
            </app-area-field>               
          </div>
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.generationMessageBody"
              [fieldMaxLength]="1000"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el mensaje que se enviará al generar el checklist"
            >
              <span fieldTitle class="label field__label"
                >Mensaje a enviar al generar checklist</span
              >
            </app-area-field>               
          </div>                     
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.generationMessageSubject"
              [fieldMaxLength]="200"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el título de la notificación que se enviará por correo"
            >
              <span fieldTitle class="label field__label"
                >Título del mensaje a enviar en la generación del checklist (sólo para envío de correos)</span
              >
            </app-area-field>               
          </div>
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>              
            <app-area-field            
              [bordered]="true"
              [formField]="translationsForm.controls.approvalRequestMessageBody"
              [fieldMaxLength]="1000"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el mensaje que se enviará para solicitar la aprobación"
            >
              <span fieldTitle class="label field__label"
                >Notificación a enviar cuando se solicite la aprobación del checklist</span
              >
            </app-area-field>               
          </div>                     
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.approvalRequestMessageSubject"
              [fieldMaxLength]="200"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el título que se enviará por correo para solicitar la aprobación"
            >
              <span fieldTitle class="label field__label"
                >Título del mensaje a enviar (sólo para envío de correos)</span
              >
            </app-area-field>               
          </div>
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.alarmMessageBody"
              [fieldMaxLength]="1000"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el mensaje que se enviará al alarmarse el checklist"
            >
              <span fieldTitle class="label field__label"
                >Notificación a enviar cuando se alarme el checklist</span
              >
            </app-area-field>               
          </div>                     
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.alarmMessageSubject"
              [fieldMaxLength]="200"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el título de la notificación que se enviará por correo cuando se alarme el checklist"
            >
              <span fieldTitle class="label field__label"
                >Título del mensaje cuando se alarme el checklist (sólo para envío de correos)</span
              >
            </app-area-field>               
          </div>                                            
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.expiringMessageBody"
              [fieldMaxLength]="1000"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el mensaje que se enviará al expirar el checklist"
            >
              <span fieldTitle class="label field__label"
                >Notificación a enviar cuando expire el checklist</span
              >
            </app-area-field>               
          </div>                     
          <div class="field-items">
            <mat-icon
              class="macros-icon"
              svgIcon="transcode"
              matTooltip="Este campo soporta macros"
              matTooltipClass="tooltip-general"
              matTooltipShowDelay="100"
            >
            </mat-icon>   
            <app-area-field
              [bordered]="true"
              [formField]="translationsForm.controls.expiringMessageSubject"
              [fieldMaxLength]="200"
              [showRightHint]="true"
              [showCloseButton]="true"
              [minRows]="1"
              [maxRows]="5"
              fieldHelp="Especifique el título de la notificación que se enviará por correo cuando expire el checklist"
            >
              <span fieldTitle class="label field__label"
                >Título del mensaje cuando expire el checklist (sólo para envío de correos)</span
              >
            </app-area-field>               
          </div>                                              
        </section>
      </div>
      <div
        *ngIf="selectedTranslation && selectedTranslation.updatedAt && selectedTranslation.updatedByUserName"
        class="catalog-footer"
      >        
        <div class="grid-dates">
          <div class="flex">
            <div class="readonly-value">{{ selectedTranslation.updatedAt ? (_sharedService.convertUtcTolocal(selectedTranslation.updatedAt) | date :"medium") : '' }}</div>
            <div class="flex-row">
              <mat-icon class="small-icon" svgIcon="event"></mat-icon>
              <div class="label-with-no-index">Última actualización</div>
            </div>
          </div>
          <div class="flex">
            <div class="readonly-value">{{ selectedTranslation.updatedByUserName }}</div>
            <div class="flex-row">
              <mat-icon class="small-icon" svgIcon="man"></mat-icon>
              <div class="label-with-no-index">Actualizado por</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="dialog-bottom-message">
    <span class="span-bottom-message" [innerHTML]="data.bottomMessage"> </span>
  </div>
  <div class="simple-flex dialog-actions" mat-dialog-actions>
    <div
      *ngIf="timeOutforDefaultButton > 0 && !closed"
      class="tab-spinner"
      [ngClass]="{ 'pulse-with-warn': timeOutforDefaultButton < 10 }"
    >
      <app-spinner
        [legacy]="classLegacy"
        [diameter]="40"
        [value]="(timeOutforDefaultButton / timeOutFortDialog) * 100"
        [countdown]="timeOutforDefaultButton"
        [showBackgound]="true"
        [suffix]="'s'"
        [limits]="limits"
        [fonts]="fonts"
        [showPrefix]="true"
        [smallFont]="smallFont"
      >
      </app-spinner>
    </div>
    <div
      class="toolbar-button-container"      
      *ngFor="let button of data.buttons; let i = index; trackBy: trackByFn"
    >
      <button
        mat-button
        class="toolbar-button"
        aria-label="icon-button with menu icon"
        [ngClass]="button.class"
        [matTooltipDisabled]="!button.showTooltip"
        [matTooltip]="button.tooltip"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
        [disabled]="button.disabled || button.loading"
        (click)="handleClick(button.action)"
      >
        <mat-icon
          *ngIf="button.showIcon"
          class="svgicon icon-medium"
          [ngStyle]="{ visibility: button.loading ? 'hidden' : 'visible' }"
          [svgIcon]="button.icon"
        >
        </mat-icon>
        <mat-progress-spinner
          *ngIf="button.loading"
          class="spinner-medium-button"
          diameter="24"
          mode="indeterminate"
        >
        </mat-progress-spinner>
        <label class="button-label">{{
          button.showCaption ? button.caption : ""
        }}</label>
      </button>
    </div>
  </div>
</div>
