<div
  class="container"
  #checklistFilling
  @routingAnimation
  (@routingAnimation.done)="animationFinished($event)"
>


  <input type="file" style="display: none" (change)="onAttachmentFileSelected($event)" #fileInputAttachment> 

  <ng-container *ngIf="settingsData$ | async "></ng-container>
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>  
  <ng-container *ngIf="checklistFillingData$ | async "></ng-container>    
  <ng-container *ngIf="checklistInUsegData$ | async "></ng-container>      
  <ng-container *ngIf="scroll$ | async "></ng-container>   
  <ng-container *ngIf="showGoTop$ | async "></ng-container>   
  <ng-container *ngIf="checklistFillingLoading$ | async "></ng-container>     
  <ng-container *ngIf="everySecond$ | async "></ng-container>   
  <ng-container *ngIf="parameters$ | async "></ng-container>    
  <ng-container *ngIf="checklistTemplate$ | async"></ng-container>  
  <ng-container *ngIf="updateChecklistState$ | async "></ng-container>       
  
  <mat-tab-group    
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    animationDuration="500ms"
    (selectedIndexChange)="setTabIndex($event)"
    [selectedIndex]="currentTabIndex"
  >    
    <mat-tab disabled> 
      <ng-template mat-tab-label>
        <div
          class="tab-spinner"
          [ngClass]="{ 'pulse-with-warn': checklist.alarmed }"
        >
          <app-spinner            
            [legacy]="classLegacyForTab"
            [diameter]="45"
            [value]="checklistProgress"
            [showBackgound]="true"
            [suffix]="'%'"
            [limits]="limits"
            [fonts]="fontsSmall"
            [exhaustedValue]="'999'"
            [prefix]="'>'"
            [showPrefix]="showPrefix"
            [smallFont]="smallestFont"
          >
          </app-spinner> 
        </div>
      </ng-template>
    </mat-tab> 
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="checklist_header"
          [ngStyle]="{
            fill:
              currentTabIndex === 1
                ? 'var(--theme-primary-600)'
                : 'unset'
          }"
        >
        </mat-icon>
        <mat-label        
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 1
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          General
        </mat-label>
      </ng-template>
      <ng-template matTabContent>
        <div class="tabs tab-general-info">
          <mat-card class="card">
            <!--<mat-progress-bar
              *ngIf="checklist.alarmed"
              mode="indeterminate"
              color="warn"
              name="active-progress-bar"
              class="progress"
            >
            </mat-progress-bar>-->
            <div class="layout">
              <div class="grid-multiple by-row">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklist.id"
                      [loading]="loading"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Folio Número</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.friendlyState + (checklist.completed === GeneralValues.YES ? ' / Por abrobar' : '' )"
                      [loading]="loading"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Estado del checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist?.assignedTo?.name"                      
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="man"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Asignado a</mat-card-subtitle>
                  </div>
                  <div *ngIf="checklist?.reassignedTo?.name">
                    <app-readonly-field
                      [label]="checklist?.reassignedTo?.name"                      
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="man"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Reasignado a</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist?.department?.name"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="organizational_chart"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Departamento</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist?.workgroup?.name"                      
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="network"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Grupo de trabajo</mat-card-subtitle>
                  </div>
                  <div>
                    <mat-card-title
                      class="checklist-name"
                      @dissolve
                      *ngIf="!loading"
                    >
                      <app-label-ellipsis
                        class="label-description"
                        [labelInnerHTML]="checklist.name"
                        [lines]="3"
                      >
                      </app-label-ellipsis>
                    </mat-card-title>
                    <ngx-skeleton-loader
                      *ngIf="loading"
                      class="text"
                      [theme]="{ height: '23px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', }"
                      count="1"
                    >
                    </ngx-skeleton-loader>
                    <mat-card-subtitle class="label">Nombre del checklist</mat-card-subtitle>
                  </div>
                </div>
                <div
                  class="checklist-progress"
                  [ngClass]="{ 'legacy-border-warn': checklist.alarmed }"
                >
                  <mat-card-subtitle
                    *ngIf="!loading"
                    @dissolve
                    class="label-progress"
                  >
                    Avance
                  </mat-card-subtitle>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="text"
                    [theme]="{ height: '12px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', }"
                    count="1"
                  >
                  </ngx-skeleton-loader>
                  <app-spinner
                    @dissolve
                    [legacy]="classLegacy"
                    *ngIf="!loading"
                    [diameter]="50"
                    [value]="checklistProgress"
                    [showBackgound]="true"
                    [suffix]="'%'"
                    [limits]="limits"
                    [fonts]="fonts"
                    [exhaustedValue]="'999'"
                    [prefix]="'>'"
                    [showPrefix]="showPrefix"
                    [smallFont]="smallFont"                    
                  ></app-spinner>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="image"
                    [theme]="{ height: '46px', width: '46px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', marginLeft: '13px', }"
                    count="1"
                    appearance="circle"
                  >
                  </ngx-skeleton-loader>
                  <mat-card-subtitle
                    *ngIf="!loading"
                    @dissolve
                    class="label-progress"
                  >
                    {{ checklist.questionsCompleted }} de {{ validQuestions }}
                  </mat-card-subtitle>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="text"
                    [theme]="{
                      marginTop: '5px',
                      height: '12px',
                      marginBottom: '0px',
                      backgroundColor: 'rgba(0, 0, 0, 0.075)',
                    }"
                    count="1"
                  >
                  </ngx-skeleton-loader>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklist.mold?.description"
                      [reference]="checklist.mold?.reference"
                      [recordId]="checklist.moldId"
                      [recordUrl]="checklist.recordUrl"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="treasure_chest"
                      [showGoToRecord]="true"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Molde</mat-card-subtitle>
                  </div>
                </div>
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="_sharedService.capitalization(_sharedService.formatDate(_sharedService.convertUtcTolocal(checklist.mold?.lastChecklist?.completedDate), 'EEEE d MMM yyyy hh:mm:ss a'), CapitalizationMethod.FIRST_LETTER_PHRASE)"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha del último checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.mold?.lastChecklist?.assignedTo?.name"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="man"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Efectuado por</mat-card-subtitle>
                  </div>                  
                </div>
                <div class="grid-multiple equipment">
                  <div                       
                    class="notes-content"
                  >
                    <div
                      class="long-text"
                      @dissolve
                      *ngIf="!loading"
                    >
                      {{ checklist.mold?.notes || 'No hay notas para éste molde...' }}
                    </div>
                    <ngx-skeleton-loader
                      *ngIf="loading"
                      class="text"
                      [theme]="{
                      height: '16px',
                      marginBottom: '0px',
                      backgroundColor: 'rgba(0, 0, 0, 0.075)',
                      }"
                      count="3"
                    >
                    </ngx-skeleton-loader>
                  </div>
                  <mat-card-subtitle
                    class="label"
                    style="margin-left: 5px;margin-top: -5px;"
                  >
                    Notas del molde
                  </mat-card-subtitle>
                </div>
              </div>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklistTemplate.templateType?.translatedName"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Tipo de plantilla de checklist asociada</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.friendlyFrequency"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Frecuencia de generacion</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.friendlyGenerationMode"
                      labelClass="label-description-with-reference"
                      [loading]="loading"                      
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Modo de generacion</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.requiresApproval ? 'Sí' : 'No'"
                      labelClass="label-description-with-reference"
                      [loading]="loading"                      
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Requiere aprobación</mat-card-subtitle>
                  </div>
                  <!--<div>
                    <app-readonly-field
                      [label]="checklist.project?.description"
                      [reference]="checklist.project?.code"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="briefcase"
                      [showGoToRecord]="true"
                      [recordId]="checklist.project?.id"
                    >
                    </app-readonly-field>   
                    <mat-card-subtitle class="label">Proyecto</mat-card-subtitle>
                  </div>-->
                </div>
              </div>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklistStartDate"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha límite para iniciar</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                    [label]="limitTime"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha límite para terminar</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="lapse"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="time_cycles"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Tiempo de llenado</mat-card-subtitle>
                  </div>
                  
                </div>
              </div>
              <mat-accordion multi>
                <!--<mat-expansion-panel
                  (opened)="panelOpenState[0] = true"
                  (closed)="panelOpenState[0] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[0]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[0]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="assignement">
                      </mat-icon>
                      <label class="accordion-label"
                        >Asignación del checklist</label
                      >
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                        aria-label="icon-button with menu icon"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[0]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.name"
                        [loading]="loading"
                        icon="man"
                      >
                      </app-readonly-field>      
                      <mat-card-subtitle class="label">
                        Asignado a
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.department"
                        [loading]="loading"
                        icon="organizational_chart"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Departamento
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]=""
                        [loading]="loading"
                        icon="event"
                      >
                      </app-readonly-field>    
                      <mat-card-subtitle class="label">
                        Fecha de asignación
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.countryName"
                        [loading]="loading"
                        icon="country"
                      >
                      </app-readonly-field>    
                      <mat-card-subtitle class="label">
                        País
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.companyName"
                        [loading]="loading"
                        icon="company"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Compañía
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.plantName"
                        [loading]="loading"
                        icon="industry"
                      >
                      </app-readonly-field>        
                      <mat-card-subtitle class="label">
                        Planta
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.type"
                        [loading]="loading"
                        icon="white_list"                
                      >
                      </app-readonly-field>            
                      <mat-card-subtitle class="label">
                        Tipo de asignación
                      </mat-card-subtitle>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel
                  (opened)="panelOpenState[1] = true"
                  (closed)="panelOpenState[1] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[1]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[1]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="time">
                      </mat-icon>
                      <label class="accordion-label"
                        >Planificación del checklist</label
                      >
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                        aria-label="icon-button with menu icon"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[1]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div>
                      <app-readonly-field
                        [label]="checklist.planning?.name"
                        [loading]="loading"
                        icon="man"
                      >
                      </app-readonly-field>    
                      <mat-card-subtitle class="label">
                        Planificado por
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.planning?.department"
                        [loading]="loading"
                        icon="organizational_chart"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Departamento
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]=""
                        [loading]="loading"
                        icon="event"
                      >
                      </app-readonly-field>    
                      <mat-card-subtitle class="label">
                        Fecha de planificación
                      </mat-card-subtitle>
                    </div>
                  </div>
                </mat-expansion-panel>-->
                <mat-expansion-panel
                  (opened)="panelOpenState[0] = true"
                  (closed)="panelOpenState[0] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[0]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[0]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="task_notes">
                      </mat-icon>
                      <label class="accordion-label">Notas del checklist</label>
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"                        
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[0]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div                       
                      class="notes-content"
                    >
                      <div
                        @dissolve
                        *ngIf="!loading"
                      >
                        {{ checklist.notes }}
                      </div>
                      <ngx-skeleton-loader
                        *ngIf="loading"
                        class="text"
                        [theme]="{
                        height: '16px',
                        marginBottom: '0px',
                        backgroundColor: 'rgba(0, 0, 0, 0.075)',
                        }"
                        count="5"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel
                  (opened)="panelOpenState[1] = true"
                  (closed)="panelOpenState[1] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[1]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[1]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="attachment"> </mat-icon>              
                      <div class="flex-accordion">
                        <label class="accordion-label">ADJUNTOS DEL CHECKLIST </label>
                        <label class="accordion-label-no-counter">({{ checklist.attachments?.length }} de un máximo de {{ settingsData?.attachments?.checklistTemplateHeader ?? 10 }})</label>
                      </div>
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[1]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">            
                    <div class="field-items">              
                      <div            
                        class="values-table values-table__container"    
                      >              
                        <table mat-table [dataSource]="attachmentsTable">

                          <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>#</th>  
                            <td mat-cell *matCellDef="let row; let i = index">
                              <ng-container>{{ i + 1 }}</ng-container>    
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="icon">
                            <th mat-header-cell *matHeaderCellDef>Aplicación</th>
                            <td mat-cell *matCellDef="let row">
                              <div class="card-image-icon">
                                <div
                                  class="image-container-table"
                                  *ngIf="row.icon === 'field_image'"
                                >
                                  <img                
                                    @dissolve
                                    appImageNotFound                
                                    class="variable-image"    
                                    [src]="row.image"
                                    [alt]="row.image"         
                                    fill
                                  >      
                                </div>
                                <div
                                  *ngIf="row.icon !== 'field_image'"
                                  class="icon-container"
                                >
                                  <mat-icon 
                                    class="file-type-icon"
                                    [svgIcon]="row.icon"
                                  >
                                  </mat-icon>
                                </div>    
                              </div>  
                            </td>      
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>  
                            <td mat-cell *matCellDef="let row">
                              <ng-container>{{ row.name }}</ng-container>    
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="actions-attachments">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                            <td class="general-info" mat-cell *matCellDef="let row; let i = index">
                              <div
                                class="box-row"      
                              >
                                <button
                                  mat-icon-button (click)="handleAttachmentRemove(i)"
                                  matTooltip="Elimina este adjunto..."
                                  matTooltipClass="tooltip-general"
                                  matTooltipShowDelay="100"      
                                >      
                                  <mat-icon>delete</mat-icon>
                                </button>
                                <button
                                  mat-icon-button (click)="handleAttachmentDownload(i)"
                                  matTooltip="Descarga a su disco una copia del archivo"
                                  matTooltipClass="tooltip-general"
                                  matTooltipShowDelay="100"      
                                >
                                  <mat-icon>cloud_download</mat-icon>
                                </button>
                              </div>    
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="attachmentsTableColumns; sticky: 1"></tr>
                          <tr class="table-row" mat-row *matRowDef="let row; columns: attachmentsTableColumns"></tr>
                          
                          <tr class="values-table-mat-row" *matNoDataRow>
                            <td class="values-table__no-data" colspan="9">
                              No hay adjuntos a mostrar...
                            </td>
                          </tr>  
                        </table>
                      </div>        
                      <mat-divider style="margin: 10px 0px 0px 0px;"></mat-divider>
                      <div class="grid-multiple-rows no-flex">
                        <div class="maintenance-buttons" style="padding: 10px 10px 1px 0px;">
                          <input type="file" style="display: none" (change)="onAttachmentFileSelected($event)" #fileInputAttachment> 
                          <button
                            [disabled]="addAttachmentButtonClick || !attachmentsEnabled"
                            mat-button
                            class="toolbar-button"
                            matTooltip="Agrega un nuevo adjunto a la variablee"
                            matTooltipClass="tooltip-general"
                            matTooltipShowDelay="100"
                            (click)="(checklist.attachments?.length >= (settingsData?.attachments?.checklistTemplateHeader ?? 10)) ? messageMaxAttachment() : fileInputAttachment.click();"
                          >
                            <mat-icon                                    
                              class="svgicon icon-medium"                
                              svgIcon="document"
                              [ngStyle]="{ visibility: addAttachmentButtonClick ? 'hidden' : 'visible' }"
                            >
                            </mat-icon>
                            <mat-progress-spinner
                              *ngIf="addAttachmentButtonClick"
                              class="spinner-regular-button"
                              diameter="32"
                              mode="indeterminate"
                            >
                            </mat-progress-spinner>
                            <mat-label class="button-label">Agregar un adjunto...</mat-label>
                          </button>          
                          <button
                            [disabled]="checklist.attachments?.length === 0 || !attachmentsEnabled"
                            mat-button
                            class="toolbar-button warn"
                            matTooltip="Elimina todos los adjuntos"
                            matTooltipClass="tooltip-general"
                            matTooltipShowDelay="100"
                            (click)="handleRemoveAllAttachments()"
                          >
                            <mat-icon                
                              class="svgicon icon-medium"                
                              svgIcon="garbage_can"
                            >
                            </mat-icon>  
                            <mat-label class="button-label">Eliminar todos los adjuntos...</mat-label>
                          </button>      
                          <app-label-ellipsis
                            class="readonly-value"
                            style="margin-left: auto"     
                            [lines]="1"
                            [labelInnerHTML]="checklistTemplateAttachmentLabel"
                          ></app-label-ellipsis>              
                        </div>
                      </div>      
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="checklist"          
        >
        </mat-icon>
        <label
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 2
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          Cuestionario
        </label>        
      </ng-template>
      <ng-template matTabContent>
        <div class="flex-box checklist-toolbar">
          <div class="progress-text"
            [innerHTML]="progressText">
          </div>
           
          <div class="margined"></div>
          <button
            *ngIf="false"
            mat-button
            class="toolbar-menu"
            matTooltip="Cambiar el layoout del checklist"
            matTooltipClass="tooltip-general"
            matTooltipShowDelay="100"
            [matMenuTriggerFor]="menuLayouts"
          >
            <div class="flex-box in-button">
              <span class="top-text">Layout</span>
              <mat-icon
                class="icon-medium"
                [svgIcon]="selectedLayout ? selectedLayout.icon : ''"
              >
              </mat-icon>
              <label class="button-label">{{ selectedLayout?.caption }}</label>
              <mat-divider class="divider-vertical" vertical> </mat-divider>
              <mat-icon class="icon-button small-icon">
                keyboard_arrow_down
              </mat-icon>
            </div>
          </button>
          <mat-menu #menuLayouts="matMenu" class="menu">
            <div
              class="menu-container"
              *ngFor="let button of layout.options; let i = index"
            >
              <button
                mat-menu-item
                class="toolbar-button-small"
                [ngClass]="{
                  'selected-view': button.value === selectedLayout?.value
                }"
                i18n-placeHolder
                (click)="setLayout(button.value)"
              >
                <mat-icon [svgIcon]="button.icon" class="menu-button">
                </mat-icon>
                <span class="menu-text">{{ button.caption }}</span>
                <mat-icon
                  *ngIf="button.value === selectedLayout?.value"
                  class="icon-button small-icon menu-button checkmark"
                >
                  check
                </mat-icon>
              </button>
            </div>
          </mat-menu>
          <button
            mat-button
            class="toolbar-menu"
            [ngClass]="{ 'pulse-menu': animatingQuestion }"
            matTooltip="Cambiar el formato del checklist"
            matTooltipClass="tooltip-general"
            matTooltipShowDelay="100"
            [matMenuTriggerFor]="menuView"
          >
            <div class="flex-box in-button">
              <span class="top-text">Respuestas</span>
              <mat-icon
                class="icon-medium"
                [svgIcon]="selectedView ? selectedView.icon : ''"
              >
              </mat-icon>
              <label class="button-label">{{ selectedView?.caption }}</label>
              <mat-divider class="divider-vertical" vertical> </mat-divider>
              <mat-icon class="icon-button small-icon">
                keyboard_arrow_down
              </mat-icon>
            </div>
          </button>
          <mat-menu #menuView="matMenu" class="menu">
            <div
              class="menu-container"
              *ngFor="let button of view.options; let i = index"
            >
              <button
                mat-menu-item
                class="toolbar-button-small"
                [ngClass]="{
                  'selected-view': button.value === selectedView?.value
                }"
                i18n-placeHolder
                (click)="setView(button.value)"
              >
                <mat-icon [svgIcon]="button.icon" class="menu-button">
                </mat-icon>
                <span class="menu-text">{{ button.caption }}</span>
                <mat-icon
                  *ngIf="button.value === selectedView?.value"
                  class="icon-button small-icon menu-button checkmark"
                >
                  check
                </mat-icon>
              </button>
            </div>
          </mat-menu>
        </div>        
        <div
          *ngIf="!noQuestions && !showSpinner"
          class="tabs tab-questions"
          [ngClass]="
            selectedLayout?.value === 'flexbox'
              ? 'flex-box-view'
              : selectedLayout?.value === 'checklist'
              ? 'checklist-view'
              : ''
          "   
        > 
          <ng-container *ngFor="let item of checklist.lines; let i = index; trackBy: trackByFn">            
            <ng-container              
              *ngIf="selectedView.value === 'all' || 
              (selectedView.value === 'answered' && item.status === ChecklistQuestionStatus.COMPLETED) ||
              (selectedView.value === 'unanswered' && item.status !== ChecklistQuestionStatus.COMPLETED && item.status !== ChecklistQuestionStatus.CANCELLED)">
              <app-checklist-filling-item
                  #questionCards
                  [view]="selectedLayout?.value" 
                  [item]="item" 
                  [readonly]="checklist.state === ChecklistState.CREATED || checklist.state === ChecklistState.CANCELLED || checklist.completed === GeneralValues.YES || checklist.state === ChecklistState.CLOSED"
                  [totalItems]="checklist.lines.length" 
                  [moldId]="+checklist.moldId" 
                  (answer)="setAnswer($event)"
                  [inactive]="checklist.status === RecordStatus.INACTIVE"
                  (lastItemProcessed)="autoCompletion();firstTime = false;"            
                >
                </app-checklist-filling-item>              
            </ng-container>
          </ng-container>
        </div>
        <div
          class="spinner-container"
          *ngIf="showSpinner"
        >
          <mat-progress-spinner              
            class="wait"
            diameter="100"
            mode="indeterminate"
            color="primary"
          >
          </mat-progress-spinner> 
        </div>
        <div
          *ngIf="!showSpinner && noQuestions"
          class="simple-flex no-questions"
        >
          <mat-icon
            class="message-icon"
            svgIcon="problems"
          >
          </mat-icon>
          <span>No hay items a mostrar...</span>
        </div>
      </ng-template>
    </mat-tab>
    <!--<mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="support"
          [ngStyle]="{
            fill:
              currentTabIndex === 3
                ? 'var(--theme-primary-600)'
                : 'unset'
          }"
        >
        </mat-icon>
        <label 
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 3
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          Soporte
        </label>
      </ng-template>
      <ng-template matTabContent>
        <mat-divider class="divider"></mat-divider>
        <div class="tabs tab-general-info">Content 2</div>
      </ng-template>
    </mat-tab>-->
    <div>
    <mat-tab
      disabled
      *ngIf="checklist.allowExpiring && checklist.status === RecordStatus.ACTIVE && (checklist.state === ChecklistState.IN_PROGRESS && checklist.completed !== GeneralValues.YES) && showElapsedTime !== 'noShow'"      
      >
      <ng-template
        class="tab-disabled"
        mat-tab-label
        [matTooltip]="countdownToolTip"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"        
      >
        <mat-icon
          class="accordion-icon icon-border"
          svgIcon="time"
          [ngClass]="{ 'elapsed-alarmed': showElapsedTime === 'showExpired' || showElapsedTime === 'showError' }"
          [ngClass]="{ 'pulse-with-warn': showElapsedTime === 'showAlert' }"
        >
        </mat-icon>        
        <label
          class="tab-label"
          [ngClass]="{ 'elapsed-alarmed': showElapsedTime === 'showExpired' || showElapsedTime === 'showError' }"          
        >
          {{ elapsedTime }}
        </label>
        <div
          *ngIf="showElapsedTime === 'showExpired' || showElapsedTime === 'showAlert'"
          class="expired-label"
        >
          {{ showElapsedTime === 'showExpired' ? 'Vencido' : 'Prox. vencer' }}
        </div>
      </ng-template>
    </mat-tab>     
  </div>
  </mat-tab-group>
</div>
