<div
  i18n
  class="container"
  #checklistFilling
  @routingAnimation
  (@routingAnimation.done)="animationFinished($event)"
>
  <mat-tab-group    
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    animationDuration="500ms"
    (selectedIndexChange)="setTabIndex($event)"
    [selectedIndex]="currentTabIndex"
  >    
    <mat-tab disabled> 
      <ng-template mat-tab-label>
        <div
          class="tab-spinner"
          [ngClass]="{ 'pulse-with-warn': checklist.alarmed }"
        >
          <app-spinner            
            [legacy]="classLegacy"
            [diameter]="45"
            [value]="checklistProgress"
            [showBackgound]="true"
            [suffix]="'%'"
            [limits]="limits"
            [fonts]="fontsSmall"
            [exhaustedValue]="'999'"
            [prefix]="'>'"
            [showPrefix]="showPrefix"
            [smallFont]="smallestFont"
          >
          </app-spinner> 
        </div>
      </ng-template>
    </mat-tab> 
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="checklist-header"
          [ngStyle]="{
            fill:
              currentTabIndex === 1
                ? 'var(--theme-primary-600)'
                : 'unset'
          }"
        >
        </mat-icon>
        <label        
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 1
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          General
        </label>
      </ng-template>
      <ng-template matTabContent>
        <div class="tabs tab-general-info">
          <mat-card class="card">
            <!--<mat-progress-bar
              *ngIf="checklist.alarmed"
              mode="indeterminate"
              color="warn"
              name="active-progress-bar"
              class="progress"
            >
            </mat-progress-bar>-->
            <div class="layout">
              <div class="grid-multiple by-row">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklist.number"
                      [loading]="loading"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Folio Número</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.stateDescription"
                      [loading]="loading"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Estatus del checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.priority?.description"
                      [reference]="checklist.priority?.code"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="priority"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Prioridad de checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <mat-card-title
                      class="checklist-name"
                      @dissolve
                      *ngIf="!loading"
                    >
                      <app-label-ellipsis
                        class="label-description"
                        [label]="checklist.description"
                        [lines]="3"
                      >
                      </app-label-ellipsis>
                    </mat-card-title>
                    <ngx-skeleton-loader
                      *ngIf="loading"
                      class="text"
                      [theme]="{ height: '23px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', }"
                      count="1"
                    >
                    </ngx-skeleton-loader>
                    <mat-card-subtitle class="label">Nombre del checklist</mat-card-subtitle>
                  </div>
                </div>
                <div
                  class="checklist-progress"
                  [ngClass]="{ 'legacy-border-warn': checklist.alarmed }"
                >
                  <mat-card-subtitle
                    *ngIf="!loading"
                    @dissolve
                    class="label-progress"
                  >
                    Avance
                  </mat-card-subtitle>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="text"
                    [theme]="{ height: '12px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', }"
                    count="1"
                  >
                  </ngx-skeleton-loader>
                  <app-spinner
                    @dissolve
                    [legacy]="classLegacy"
                    *ngIf="!loading"
                    [diameter]="50"
                    [value]="checklistProgress"
                    [showBackgound]="true"
                    [suffix]="'%'"
                    [limits]="limits"
                    [fonts]="fonts"
                    [exhaustedValue]="'999'"
                    [prefix]="'>'"
                    [showPrefix]="showPrefix"
                    [smallFont]="smallFont"
                  ></app-spinner>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="image"
                    [theme]="{ height: '46px', width: '46px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', marginLeft: '13px', }"
                    count="1"
                    appearance="circle"
                  >
                  </ngx-skeleton-loader>
                  <mat-card-subtitle
                    *ngIf="!loading"
                    @dissolve
                    class="label-progress"
                  >
                    {{ checklist.completed }} de {{ validQuestions }}
                  </mat-card-subtitle>
                  <ngx-skeleton-loader
                    *ngIf="loading"
                    class="text"
                    [theme]="{
                      marginTop: '5px',
                      height: '12px',
                      marginBottom: '0px',
                      backgroundColor: 'rgba(0, 0, 0, 0.075)',
                    }"
                    count="1"
                  >
                  </ngx-skeleton-loader>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklist.equipment?.description"
                      [reference]="checklist.equipment?.number"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="gear"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Equipo/Máquina</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="convertedDates.equipment.lastChecklistDate"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha del último checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.equipment?.lastChecklistAuditor"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="man"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Efectuado por</mat-card-subtitle>
                  </div>         

                  <div class="grid-multiple equipment">
                    <div                       
                      class="notes-content"
                    >
                      <div
                        class="long-text"
                        @dissolve
                        *ngIf="!loading"
                      >
                        {{ checklist.equipment?.extendedInfo || 'No hay notas para éste equipo/máquina...' }}
                      </div>
                      <ngx-skeleton-loader
                        *ngIf="loading"
                        class="text"
                        [theme]="{
                        height: '16px',
                        marginBottom: '0px',
                        backgroundColor: 'rgba(0, 0, 0, 0.075)',
                        }"
                        count="3"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <mat-card-subtitle class="label">
                      Notas del equipo/máquina
                    </mat-card-subtitle>
                  </div>
                </div>
              </div>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="checklist.type?.description"
                      [reference]="checklist.type?.code"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="white_list"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Tipo de checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.class?.description"
                      [reference]="checklist.class?.code"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="white_list"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Clase de checklist</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="checklist.project?.description"
                      [reference]="checklist.project?.code"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="briefcase"
                    >
                    </app-readonly-field>   
                    <mat-card-subtitle class="label">Proyecto</mat-card-subtitle>
                  </div>
                </div>
              </div>
              <div class="grid-dates">
                <div class="grid-multiple">
                  <div>
                    <app-readonly-field
                      [label]="convertedDates.dueDateToStart"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha límite para iniciar</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="convertedDates.startDate"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha de inicio</mat-card-subtitle>
                  </div>
                  <div>
                    <app-readonly-field
                      [label]="convertedDates.dueDateToFinish"
                      labelClass="label-description-with-reference"
                      [loading]="loading"
                      icon="event"
                    >
                    </app-readonly-field>
                    <mat-card-subtitle class="label">Fecha límite para terminar</mat-card-subtitle>
                  </div>
                </div>
              </div>
              <mat-accordion multi>
                <mat-expansion-panel
                  (opened)="panelOpenState[0] = true"
                  (closed)="panelOpenState[0] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[0]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[0]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="assignement">
                      </mat-icon>
                      <label class="accordion-label"
                        >Asignación del checklist</label
                      >
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                        aria-label="icon-button with menu icon"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[0]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.name"
                        [loading]="loading"
                        icon="man"
                      >
                      </app-readonly-field>               
                      <mat-card-subtitle class="label">
                        Asignado a
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.department"
                        [loading]="loading"
                        icon="organizational_chart"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Departamento
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="convertedDates.assignement.date"
                        [loading]="loading"
                        icon="event"
                      >
                      </app-readonly-field>             
                      <mat-card-subtitle class="label">
                        Fecha de asignación
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.countryName"
                        [loading]="loading"
                        icon="country"
                      >
                      </app-readonly-field>             
                      <mat-card-subtitle class="label">
                        País
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.companyName"
                        [loading]="loading"
                        icon="company"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Compañía
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.plantName"
                        [loading]="loading"
                        icon="industry"
                      >
                      </app-readonly-field>        
                      <mat-card-subtitle class="label">
                        Planta
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.assignement?.type"
                        [loading]="loading"
                        icon="white_list"                
                      >
                      </app-readonly-field>                     
                      <mat-card-subtitle class="label">
                        Tipo de asignación
                      </mat-card-subtitle>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel
                  (opened)="panelOpenState[1] = true"
                  (closed)="panelOpenState[1] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[1]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[1]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="time">
                      </mat-icon>
                      <label class="accordion-label"
                        >Planificación del checklist</label
                      >
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                        aria-label="icon-button with menu icon"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[1]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div>
                      <app-readonly-field
                        [label]="checklist.planning?.name"
                        [loading]="loading"
                        icon="man"
                      >
                      </app-readonly-field>             
                      <mat-card-subtitle class="label">
                        Planificado por
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="checklist.planning?.department"
                        [loading]="loading"
                        icon="organizational_chart"
                      >
                      </app-readonly-field>
                      <mat-card-subtitle class="label">
                        Departamento
                      </mat-card-subtitle>
                    </div>
                    <div>
                      <app-readonly-field
                        [label]="convertedDates.planning.date"
                        [loading]="loading"
                        icon="event"
                      >
                      </app-readonly-field>             
                      <mat-card-subtitle class="label">
                        Fecha de planificación
                      </mat-card-subtitle>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel
                  (opened)="panelOpenState[2] = true"
                  (closed)="panelOpenState[2] = false"
                  hideToggle="true"
                  [expanded]="panelOpenState[2]"
                >
                  <mat-expansion-panel-header
                    [collapsedHeight]="'55px'"
                    [ngStyle]="{
                      'background-color': panelOpenState[2]
                        ? 'var(--z-colors-page-shadow)'
                        : 'var(--z-colors-page-card-background-color)'
                    }"
                  >
                    <mat-panel-title>
                      <mat-icon class="accordion-icon" svgIcon="task_notes">
                      </mat-icon>
                      <label class="accordion-label">Notas del checklist</label>
                    </mat-panel-title>
                    <div class="icon-button-container">
                      <button
                        mat-icon-button
                        class="icon-button open"
                        aria-label="icon-button with menu icon"
                      >
                        <mat-icon class="icon-button">
                          {{
                            panelOpenState[2]
                              ? "keyboard_arrow_up"
                              : "keyboard_arrow_down"
                          }}
                        </mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="grid-multiple margin-top">
                    <div                       
                      class="notes-content"
                    >
                      <div
                        @dissolve
                        *ngIf="!loading"
                      >
                        {{ checklist.extendedInfo }}
                      </div>
                      <ngx-skeleton-loader
                        *ngIf="loading"
                        class="text"
                        [theme]="{
                        height: '16px',
                        marginBottom: '0px',
                        backgroundColor: 'rgba(0, 0, 0, 0.075)',
                        }"
                        count="5"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="checklist"          
        >
        </mat-icon>
        <label
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 2
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          Cuestionario
        </label>        
      </ng-template>
      <ng-template matTabContent>
        <div class="flex-box checklist-toolbar">          
          <div class="margined"></div>
          <button
            mat-button
            class="toolbar-menu"
            aria-label="icon-button with menu icon"
            matTooltip="Cambiar el layoout del checklist"
            matTooltipClass="tooltip-general"
            matTooltipShowDelay="100"
            [matMenuTriggerFor]="menuLayouts"
          >
            <div class="flex-box in-button">
              <span class="top-text">Layout</span>
              <mat-icon
                class="icon-medium"
                [svgIcon]="selectedLayout ? selectedLayout.icon : ''"
              >
              </mat-icon>
              <label class="button-label">{{ selectedLayout?.caption }}</label>
              <mat-divider class="divider-vertical" vertical> </mat-divider>
              <mat-icon class="icon-button small-icon">
                keyboard_arrow_down
              </mat-icon>
            </div>
          </button>
          <mat-menu #menuLayouts="matMenu" class="menu">
            <div
              class="menu-container"
              *ngFor="let button of layouts; let i = index"
            >
              <button
                mat-menu-item
                class="toolbar-button-small"
                [ngClass]="{
                  'selected-view': button.value === selectedLayout?.value
                }"
                aria-label="icon-button with menu icon"
                i18n-placeHolder
                (click)="setLayout(button.value)"
              >
                <mat-icon [svgIcon]="button.icon" class="menu-button">
                </mat-icon>
                <span class="menu-text">{{ button.caption }}</span>
                <mat-icon
                  *ngIf="button.value === selectedLayout?.value"
                  class="icon-button small-icon menu-button checkmark"
                >
                  check
                </mat-icon>
              </button>
            </div>
          </mat-menu>
          <button
            mat-button
            class="toolbar-menu"
            [ngClass]="{ 'pulse-menu': animatingQuestion }"
            aria-label="icon-button with menu icon"
            matTooltip="Cambiar el formato del checklist"
            matTooltipClass="tooltip-general"
            matTooltipShowDelay="100"
            [matMenuTriggerFor]="menuView"
          >
            <div class="flex-box in-button">
              <span class="top-text">Respuestas</span>
              <mat-icon
                class="icon-medium"
                [svgIcon]="selectedView ? selectedView.icon : ''"
              >
              </mat-icon>
              <label class="button-label">{{ selectedView?.caption }}</label>
              <mat-divider class="divider-vertical" vertical> </mat-divider>
              <mat-icon class="icon-button small-icon">
                keyboard_arrow_down
              </mat-icon>
            </div>
          </button>
          <mat-menu #menuView="matMenu" class="menu">
            <div
              class="menu-container"
              *ngFor="let button of views; let i = index"
            >
              <button
                mat-menu-item
                class="toolbar-button-small"
                [ngClass]="{
                  'selected-view': button.value === selectedView?.value
                }"
                aria-label="icon-button with menu icon"
                i18n-placeHolder
                (click)="setView(button.value)"
              >
                <mat-icon [svgIcon]="button.icon" class="menu-button">
                </mat-icon>
                <span class="menu-text">{{ button.caption }}</span>
                <mat-icon
                  *ngIf="button.value === selectedView?.value"
                  class="icon-button small-icon menu-button checkmark"
                >
                  check
                </mat-icon>
              </button>
            </div>
          </mat-menu>
        </div>
        <div
          *ngIf="!noQuestions && !showSpinner"
          class="tabs tab-questions"
          [ngClass]="
            selectedLayout?.value === 'flexbox'
              ? 'flex-box-view'
              : selectedLayout?.value === 'checklist'
              ? 'checklist-view'
              : ''
          "   
        > 
          <ng-container *ngFor="let item of checklist.items; let i = index">
            <ng-container              
              #questions
              *ngIf="selectedView.value === 'all' || 
              (selectedView.value === 'answered' && item.status === ChecklistQuestionStatus.COMPLETED) ||
              (selectedView.value === 'unanswered' && item.status !== ChecklistQuestionStatus.COMPLETED && item.status !== ChecklistQuestionStatus.CANCELLED)">
              <app-checklist-filling-item [item]="item" [inactive]="checklist.status === RecordStatus.INACTIVE"></app-checklist-filling-item>
            </ng-container>
          </ng-container>           
        </div>
        <div
          class="spinner-container"
          *ngIf="showSpinner"
        >
          <mat-progress-spinner              
            class="wait"
            diameter="100"
            mode="indeterminate"
            color="primary"
          >
          </mat-progress-spinner> 
        </div>
        <div
          *ngIf="!showSpinner && noQuestions"
          class="simple-flex no-questions"
        >
          <mat-icon
            class="message-icon"
            svgIcon="problems"
          >
          </mat-icon>
          <span>No hay items a mostrar...</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          class="tab-icon"
          svgIcon="support"
          [ngStyle]="{
            fill:
              currentTabIndex === 3
                ? 'var(--theme-primary-600)'
                : 'unset'
          }"
        >
        </mat-icon>
        <label 
          class="tab-label"
          [ngStyle]="{
            color:
              currentTabIndex === 3
                ? 'var(--theme-primary-600)'
                : 'var(--z-colors-page-tab-fore)'
          }"
        >
          Soporte
        </label>
      </ng-template>
      <ng-template matTabContent>
        <mat-divider class="divider"></mat-divider>
        <div class="tabs tab-general-info">Content 2</div>
      </ng-template>
    </mat-tab>
    <div>
    <mat-tab
      disabled
      *ngIf="checklist.canExpire && checklist.status === RecordStatus.ACTIVE && checklist.state === ChecklistState.IN_PROGRESS && showElapsedTime !== 'noShow'"      
      >
      <ng-template
        class="tab-disabled"
        mat-tab-label
        [matTooltip]="countdownToolTip"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"        
      >
        <mat-icon
          class="accordion-icon icon-border"
          svgIcon="time"
          [ngClass]="{ 'elapsed-alarmed': showElapsedTime === 'showExpired' || showElapsedTime === 'showError' }"
          [ngClass]="{ 'pulse-with-warn': showElapsedTime === 'showAlert' }"
        >
        </mat-icon>        
        <label
          class="tab-label"
          [ngClass]="{ 'elapsed-alarmed': showElapsedTime === 'showExpired' || showElapsedTime === 'showError' }"          
        >
          {{ elapsedTime }}
        </label>
        <div
          *ngIf="showElapsedTime === 'showExpired' || showElapsedTime === 'showAlert'"
          class="expired-label"
        >
          {{ showElapsedTime === 'showExpired' ? 'Vencido' : 'Prox. vencer' }}
        </div>
      </ng-template>
    </mat-tab>     
  </div>
  </mat-tab-group>
</div>
