@use "../../../../assets/styles/mixins";

.container {
    margin-bottom: 10px;
}
.progress {
    margin-top: 5px;
    margin-bottom: -9px;
    counter-reset: counter; 
}

.tab-label {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.tab-general-info {
    @include mixins.flexbox(row, wrap, 1px, flex-start);    
    font-size: 1.6rem;
    font-weight: 500;
    align-content: center;    
}

.tabs {
    margin: 5px 10px 0px 10px;
}

mat-card-title {
    font-weight: 900;
    line-height: 24px;
}

mat-panel-title {
    font-size: 1.5rem;
    @include mixins.text-ellipsis();
    font-weight: 900;
    padding: 0px;
    margin-left: 10px;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 10px 0px;
    margin-bottom: 10px;
    padding: 5px;
}

mat-card-subtitle {
    font-size: 1.5rem;
    @include mixins.text-ellipsis();
}

.label {
    font-size: 1.3rem;    
    @include mixins.text-ellipsis();
}

.extended {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.border {
    background-color: #eeeeee;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px 0px;
    border: 2px solid #dddddd;
}

.label-progress {
    text-align: center;
    font-weight: 700;
}

.checklist-progress {    
    border: 2px solid var(--z-colors-page-border);
    border-radius: 8px 0px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 72px !important;
    flex: unset !important;
}

.flex {
    @include mixins.flexbox(row, wrap, 5px, flex-start);        
    flex: 1;
    justify-content: space-between;
    margin: 5px;
}
    
.layout {
    @include mixins.flexbox(column, wrap, 5px, flex-start);
    margin: 20px 10px 10px 10px
}

.grid-multiple {
    @include mixins.flexbox(row, wrap, 6px, flex-start, flex-start);
    width: -webkit-fill-available;;
    padding: 5px;
}

.grid-multiple > div {
    flex: 1;    
    min-width: 300px;
    flex-basis: 30%;
}

.by-row {
    flex-direction: row;
}

.flex-col {
    @include mixins.flexbox(row, nowrap, 5px, flex-start);    
}

.label::before { 
    counter-increment: counter;
    content: "(" counter(counter) ") ";
}

::ng-deep .mat-mdc-tab-labels {
    background-color: var(--z-colors-white);
    border-radius: 8px 8px 0px 0px;
    border: 1px solid var(--z-colors-page-border);
    margin-left: 10px;    
    margin-right: 3px;
    margin-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    width: max-content;
}

::ng-deep .mat-mdc-tab {
    padding-left: 12px !important;
    padding-right: 12px !important;    
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 10px 10px;
}

.tab-icon {
    width: 32px;
    height: 32px;
}

mat-expansion-panel {
    border: 1.5px solid var(--z-colors-page-primary);
    box-shadow: unset;
    margin-top: 5px;
}

mat-expansion-panel-header {
    padding: 0px;    
    display: flex;
    align-items: center;
    margin: 2px;
}

mat-accordion {
    width: -webkit-fill-available;
}

.margin-top {
    margin-top: 5px;
}

.accordion-icon {
    width: 32px;
    height: 32px;
}

mat-panel-title {
    display: flex;
}

.icon-button {
    background-color: transparent;
}

.divider {
    @include mixins.divider(10px, 5px, 0px, 0px);   
}

.label-reference {
    background-color: var(--z-colors-page-shadow);
    padding: 0px 5px;
    border-radius: 4px;
    font-weight: 300;
    max-width: calc(100% - 67% - 32px)
}

.label-description {
    max-width: calc(100% - 33% - 32px);
}

.notes-content {
    font-size: 1.3rem;
    font-weight: 300;    
    max-height: 100px;
    overflow-x: hidden;    
    overflow-y: auto;
    align-self: flex-start;
    padding: 5px;
}

.notes-label {
    align-self: flex-start;
}

.grid-dates {
    padding: 5px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid var(--z-colors-page-border);
    box-shadow: 0px 2px 2px 0px var(--z-colors-page-border);
    width: -webkit-fill-available;
    margin-top: 5px;
}