@use "../../../../assets/styles/mixins";

.toolbar {    
    height: 64px
}

.toolbar-grid {
    @include mixins.flexbox(row, wrap, 1px, end); 
    margin-left: auto;
    width: max-content;
    padding-left: 10px;
}

.toolbar-grid-adjusted {
    @include mixins.flexbox(row, wrap, 1px, end); 
    margin-left: auto;
    width: max-content;
    padding-left: 10px;
    margin-top: -22px
}

.toolbar-button  {
    margin-right: 5px;
    display: flex;
    height: 56px;
    flex-direction: row;
    border-radius: 8px 0px;
    border: 2.5px solid rgba(var(--z-colors-page-button-border-rgb), 0.5);
}

.mdc-button__label {
    margin-top: -8px;
}

.icon-toolbar {
    margin-top: 12px;
}

.medium {
    width: 32px !important;
    height: 32px !important;
    margin: 0px !important;
}

.divider {
    @include mixins.divider(0px, 0px, 0px, 5px, var(--z-colors-page-border), 50px);    
}

.divider-adjusted {
    @include mixins.divider(20px, 35px, 0px, 5px, var(--z-colors-page-border), 70px);    
}

.button-label {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.toolbar-button-container {
    position: relative;
}

.button-locked {        
    height: 25px;
    width: 25px;
    background-color: var(--z-colors-white);
    border-radius: 50%;
    border: 2px solid var(--z-colors-page-primary);
}

.small-locked {
    margin-top: 0px;
}