@use "../../../../assets/styles/mixins";

.container {
    position: relative;
}

.toolbar {    
    height: 64px;
    background-color: var(--z-colors-page-shadow) !important;
    overflow-y: hidden;
    overflow-x: auto;
}

.toolbar-grid {
    @include mixins.flexbox(row, nowrap, 5px, end);     
    width: max-content;    
}

.toolbar-left-side {
    margin-right: auto; 
}

.toolbar-grid-adjusted {
    @include mixins.flexbox(row, wrap, 5px, end); 
    margin-left: auto;
    width: max-content;
    padding-left: 10px;
    margin-top: -22px
}

.toolbar-button  {
    margin-right: 5px;
    display: flex;
    height: 56px;
    flex-direction: row;
    border-radius: 8px 0px;
    border: 2.5px solid rgba(var(--z-colors-primary-rgb), 0.5);
}

.mdc-button__label {
    margin-top: -8px;
}

.divider {
    @include mixins.divider(0px, 0px, 0px, 5px, var(--z-colors-page-border), 50px);    
}

.divider-adjusted {
    @include mixins.divider(20px, 35px, 0px, 5px, var(--z-colors-page-border), 70px);    
}

.button-label {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.toolbar-right-side {
    @include mixins.flexbox(row, nowrap, 5px, end);
    margin-left: auto;
}

.button-locked {        
    height: 25px;
    width: 25px;
    background-color: var(--z-colors-page-button-normal-fore-color);
    border-radius: 50%;
    border: 2px solid var(--z-colors-page-button-normal-background-color);
}

.small-locked {
    margin-top: 0px;
}

  
.spinner-regular-button {
    color: var(--z-colors-page-button-disabled-fore);
    position: absolute;
    left: 0;
    margin-left: -32px;  
    ::ng-deep circle {
        stroke: var(--z-colors-page-button-disabled-fore);   
    }    
}

.tab-spinner {
    border-radius: 50%;
    margin-left: -10px;
    cursor: pointer;
}

.tab-spinner-text {
    font-size: 28px;
    font-weight: 500 !important;
    margin-left: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 2px solig rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: black;
}

.overlap-container {
    height: 56px; 
}

#scrollbar::-webkit-scrollbar {
    height: 0.5px;
    width: 0.5em;
}

#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6) !important;
}

#scrollbar::-webkit-scrollbar-thumb {
    background-color: #060b9a !important;
}
