@use "../../../../assets/styles/mixins";

.toolbar {
    border-bottom: 1px solid silver;
    height: 64px
}

.toolbar-grid {
    @include mixins.flexbox(row, wrap, 1px, end); 
    margin-left: auto;
    width: max-content;
    padding-left: 10px
}

.button-normal {
    margin-right: 5px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    height: 56px;
    flex-direction: row;
    border-radius: 8px 0px;
    border: 2.5px solid var(--z-button-border);
}

.mdc-button__label {
    margin-top: -8px;
}

.icon-toolbar {
    margin-top: 12px;
}

.medium {
    width: 32px !important;
    height: 32px !important;
    margin: 0px !important;
}

.divider {
    @include mixins.divider(25px, 25px, 0px, 0px);    
}

.button-label {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.3rem;
}