<div class="container">
  <mat-card class="card">
    <mat-progress-bar
      *ngIf="this.mold.alarmed"
      mode="indeterminate"
      color="warn"
      name="active-progress-bar"
      class="progress"
    >
    </mat-progress-bar> 
    <mat-card-header>
      <mat-card-title-group class="border">
        <mat-card-title class="title">{{ mold.name }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Nombre del molde</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ mold.id }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Id del molde</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content class="maintenance">
      <div class="column">
        <mat-card-title class="subtitle">{{ mold.lastMaintenance.date | date }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Últ. mantto.</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'specific-date'">
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.specificDate | date }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Sig. mantto.</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'days'">
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.days | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Total (d)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'hours'">
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.hours | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Total (hr)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'hits'">
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.hits | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Total (g)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'hits-or-hours'">
        <mat-card-title class="subtitle">
          <span>{{ mold.nextMaintenance.hits | number }}</span> / 
          <span>{{ mold.nextMaintenance.hours | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label" i18n>Total (g/hr)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.nextMaintenance.strategy === 'hits-or-days'">
        <mat-card-title class="subtitle">
          <span>{{ mold.nextMaintenance.hits | number }}</span> / 
          <span>{{ mold.nextMaintenance.days | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label" i18n>Total (g/d)</mat-card-subtitle>
      </div>
      
      <div
        class="column border-days"
        *ngIf="mold.nextMaintenance.strategy === 'days' || mold.nextMaintenance.strategy === 'specific-date'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.timeToLeft | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Faltan (d)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.nextMaintenance.strategy === 'hours'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.timeToLeft | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Faltan (hr)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.nextMaintenance.strategy === 'hits'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ mold.nextMaintenance.hitsToLeft | number }}</mat-card-title>
        <mat-card-subtitle class="label" i18n>Faltan (g)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.nextMaintenance.strategy === 'hits-or-hours'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">
          <span>{{ mold.nextMaintenance.hitsToLeft | number }}</span>/
          <span>{{ mold.nextMaintenance.timeToLeft | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label" i18n>Faltan (g/hr)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.nextMaintenance.strategy === 'hits-or-days'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">
          <span>{{ mold.nextMaintenance.hitsToLeft | number }}</span>/
          <span>{{ mold.nextMaintenance.timeToLeft | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label" i18n>Faltan (g/d)</mat-card-subtitle>
      </div>
    </mat-card-content>
    <mat-divider class="divider extended"></mat-divider>
    <mat-card-content class="card-image">
        <div class="image-container">
          <img 
            appImageNotFound
            class="mold-image"                        
            [ngSrc]="mold.mainImage"
            [alt]="mold.name"            
            fill
          >          
        </div>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>       
    <mat-card-footer>        
      <div class="molds-hits-data">
        <app-spinner
          class="spinner"
          [diameter]="70"
          [value]="valueToChart"
          [showBackgound]="true"
          [suffix]="'%'"
          [limits]="limits"
          [fonts]="fonts"
          [exhaustedValue]="'999'"
          [prefix]="'>'"
          [showPrefix]="showPrefix"
          [smallFont]="smallFont"
        ></app-spinner>
        <div
          class="mold-hits"
          [ngClass]="[ borderColorClass ]"
        >
          <ng-container *ngFor="let show of showNumber; let number = index; trackBy: trackByFn">
            <div
              class="number-container"              
              [ngClass]="[ progressForeColorClass, progressBackgroundColorClass ]"
            >
              <div
                class="number"
                @numbers
                *ngIf="showNumber[number] === 'Pair'"
              >
                {{ digitPair[number] }}
              </div>
              <div
                class="number"
                @numbers
                *ngIf="showNumber[number] === 'Odd'"
              >
                {{ digitOdd[number] }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <mat-card-subtitle class="last-hit" [matTooltip]="mold.lastHit.date" matTooltipClass = "tooltip-general" matTooltipShowDelay = "100" >
        <span i18n>Últ. golpe: </span>
        <span *ngIf="elapsedTimeLabel">
          <strong>{{ elapsedTimeLabel }}</strong>
        </span>
        <span *ngIf="!elapsedTimeLabel && mold.lastHit.date">
          <strong>{{ mold.lastHit.date | date:'EEEE, YYYY-MMM-dd HH:mm:ss' }}</strong>
        </span>
        <span
          *ngIf="!mold.lastHit.date"
          i18n>
          <strong>Indeterminado...</strong>
        </span>
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
</div> 
  
