<div 
  i18n
  class="container"
  [ngClass]="{ 'border-transparent' : !mold.data.label || mold.data.label == '' }"  
>
  <ng-container *ngIf="settingsData$ | async "></ng-container>
  <mat-card class="card"
    *ngIf="showCard"
    [ngClass]="{
      'border-yellow' : mold.data.label == MoldLabelColor.YELLOW,
      'border-blue' : mold.data.label == MoldLabelColor.DODGERBLUE,
      'border-red' : mold.data.label == MoldLabelColor.RED,
      'border-orange' : mold.data.label == MoldLabelColor.ORANGE,
      'border-green' : mold.data.label == MoldLabelColor.GREEN,
    }"
  >
    <div 
      *ngIf="mold.data.label"
      class="corner"      
      [ngStyle]="{
        'border-left-color':
          mold.data.label == MoldLabelColor.YELLOW
            ? 'yellow'
            : mold.data.label == MoldLabelColor.RED
            ? 'red'
            : mold.data.label == MoldLabelColor.DODGERBLUE
            ? 'dodgerblue'
            : mold.data.label == MoldLabelColor.ORANGE
            ? 'orange'
            : 'green'
      }"
    >      
    </div>
    <mat-card-header>
      <mat-card-title-group class="border">
        <mat-card-title class="title">{{ mold.translatedDescription }}</mat-card-title>
        <mat-card-subtitle class="label">Nombre del molde</mat-card-subtitle>        
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="maintenance">
      <div class="column">
        <mat-card-title class="subtitle">{{ mold.data.id }}</mat-card-title>
        <mat-card-subtitle class="label">Id</mat-card-subtitle>
      </div>
      <div class="column">
        <mat-card-title class="subtitle">{{ mold?.translatedPartNumber?.translatedReference }}</mat-card-title>
        <mat-card-subtitle class="label">Número de parte</mat-card-subtitle>
      </div>
      <div class="column">
        <mat-card-title class="subtitle">{{ mold.data.position }}</mat-card-title>
        <mat-card-subtitle class="label">Posición</mat-card-subtitle>
      </div>
    </mat-card-content>
    <mat-card-content class="maintenance">
      <div class="column">
        <mat-card-title class="subtitle">{{ mold.data.lastMaintenance?.maintenanceDate ? (mold.data.lastMaintenance?.maintenanceDate | date) : 'Indeterminado' }}</mat-card-title>
        <mat-card-subtitle class="label">Últ. mantto.</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'specific-date'">
        <mat-card-title class="subtitle">{{ mold.data.nextMaintenance?.specificDate | date }}</mat-card-title>
        <mat-card-subtitle class="label">Sig. mantto.</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'days'">
        <mat-card-title class="subtitle">{{ mold.data.nextMaintenance?.days | number }}</mat-card-title>
        <mat-card-subtitle class="label">Total (d)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'hours'">
        <mat-card-title class="subtitle">{{ mold.data.nextMaintenance?.hours | number }}</mat-card-title>
        <mat-card-subtitle class="label">Total (hr)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'hits'">
        <mat-card-title class="subtitle">{{ mold.data.thresholdRed | number }}</mat-card-title>
        <mat-card-subtitle class="label">Total (g)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'hits-or-hours'">
        <mat-card-title class="subtitle">
          <span>{{ mold.data.thresholdRed | number }}</span> / 
          <span>{{ mold.data.nextMaintenance?.hours | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label">Total (g/hr)</mat-card-subtitle>
      </div>
      <div class="column" *ngIf="mold.data.strategy === 'hits-or-days'">
        <mat-card-title class="subtitle">
          <span>{{ mold.data.thresholdRed | number }}</span> / 
          <span>{{ mold.data.nextMaintenance?.days | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label">Total (g/d)</mat-card-subtitle>
      </div>
      
      <div
        class="column border-days"
        *ngIf="mold.data.strategy === 'days' || mold.data.strategy === 'specific-date'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ mold.data.nextMaintenance?.timeToLeft | number }}</mat-card-title>
        <mat-card-subtitle class="label">Faltan (d)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.data.strategy === 'hours'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ mold.data.nextMaintenance?.timeToLeft | number }}</mat-card-title>
        <mat-card-subtitle class="label">Faltan (hr)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.data.strategy === 'hits'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">{{ (mold.data.thresholdRed - mold.data.hits) > 0  ? (mold.data.thresholdRed - mold.data.hits) : 0  | number }}</mat-card-title>
        <mat-card-subtitle class="label">Faltan (g)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.data.strategy === 'hits-or-hours'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">
          <span>{{ mold.data.nextMaintenance?.hitsToLeft | number }}</span>/
          <span>{{ mold.data.nextMaintenance?.timeToLeft | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label">Faltan (g/hr)</mat-card-subtitle>
      </div>
      <div
        class="column border-days"
        *ngIf="mold.data.strategy === 'hits-or-days'"
        [ngClass]="[ maintenanceClass ]"
      >
        <mat-card-title class="subtitle">
          <span>{{ mold.data.nextMaintenance?.hitsToLeft | number }}</span>/
          <span>{{ mold.data.nextMaintenance?.timeToLeft | number }}</span>
        </mat-card-title>
        <mat-card-subtitle class="label">Faltan (g/d)</mat-card-subtitle>
      </div>
    </mat-card-content>
    <mat-divider class="divider extended"></mat-divider>    
    <mat-card-content class="card-image">
      <div class="image-container">
        <img
          appImageNotFound
          class="mold-image"                        
          [src]="mold.data.mainImage"
          [alt]="mold.translatedDescription"            
          fill
        >
      </div>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>       
    <mat-card-footer>        
      <div class="molds-hits-data">
        <!--<div echarts [options]="chartData" class="demo-chart"></div>-->
        <app-spinner
          class="spinner"
          [diameter]="70"
          [value]="valueToPrint"
          [showBackgound]="true"
          [suffix]="'%'"
          [limits]="limits"
          [fonts]="fonts"
          [exhaustedValue]="'999'"
          [prefix]="'>'"
          [showPrefix]="showPrefix"
          [smallFont]="smallFont"
        ></app-spinner>
        <div
          class="mold-hits"
          [ngClass]="[ borderColorClass ]"
        >
          <ng-container *ngFor="let show of showNumber; let number = index; trackBy: trackByFn">
            <div
              class="number-container"              
              [ngClass]="[ progressForeColorClass, progressBackgroundColorClass ]"
            >
              <div
                class="number"
                @numbers
                *ngIf="showNumber[number] === 'Pair'"
              >
                {{ digitPair[number] }}
              </div>
              <div
                class="number"
                @numbers
                *ngIf="showNumber[number] === 'Odd'"
              >
                {{ digitOdd[number] }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <mat-card-subtitle
        class="last-hit"
        [matTooltip]="lastHitDate"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100" >
        <span>Últ. golpe: </span>
        <span *ngIf="mold.data.lastHit">
          <strong>{{ _sharedService.labelElapsedTime(mold.data.lastHit) }}</strong>
        </span>
        <span
          *ngIf="!mold.data?.lastHit"
         >
          <strong>Indeterminado...</strong>
        </span>
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card-wide"
    *ngIf="!showCard"
    [ngClass]="{ 'border-yellow' : mold.data.label == MoldLabelColor.YELLOW,
      'border-blue' : mold.data.label == MoldLabelColor.DODGERBLUE,
      'border-red' : mold.data.label == MoldLabelColor.RED,
      'border-orange' : mold.data.label == MoldLabelColor.ORANGE,
      'border-green' : mold.data.label == MoldLabelColor.GREEN,      
      'odd-color' : (intemIndex % 2 !== 0) }">
    <div 
      *ngIf="mold.data.label"
      class="corner"      
      [ngStyle]="{
        'border-left-color':
          mold.data.label == MoldLabelColor.YELLOW
            ? 'yellow'
            : mold.data.label == MoldLabelColor.RED
            ? 'red'
            : mold.data.label == MoldLabelColor.DODGERBLUE
            ? 'dodgerblue'
            : mold.data.label == MoldLabelColor.ORANGE
            ? 'orange'
            : 'green'
      }"
    >      
    </div>
    <!--<mat-progress-bar
      *ngIf="mold.data.alarmed"
      mode="indeterminate"
      color="warn"
      name="active-progress-bar"
      class="progress"
    >
    </mat-progress-bar> -->
    <div class="item-number-wide">{{ intemIndex }}</div>        
    
    <mat-card-content class="card-image-wide">
      <div class="image-container-wide">
        <img
          appImageNotFound
          class="mold-image"                        
          [src]="mold.data.mainImage"
          [alt]="mold.translatedDescription"            
          fill
        >
      </div>
    </mat-card-content>
    <div class="square-wide">
      <mat-card-header class="simple-flex-columns">
        <mat-card-title class="title-wide">{{ mold.translatedDescription }}</mat-card-title>
        <div class="simple-flex">
          <mat-card-subtitle class="label-sub-wide">Nombre del molde</mat-card-subtitle>      
          <mat-card-subtitle class="burble" [ngClass]="getClass(mold.data.state)">{{ mold.friendlyState }}</mat-card-subtitle>
        </div>        
      </mat-card-header>
      <mat-card-content class="maintenance">
        <div class="column">
          <mat-card-title class="subtitle-wide bold">{{ mold.data.id }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Id del molde</mat-card-subtitle>
        </div>
        <div class="column">
          <mat-card-title class="subtitle-wide shadow">{{ mold?.translatedPartNumber?.translatedReference }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Número de parte</mat-card-subtitle>
        </div>
        <div class="column">
          <mat-card-title class="subtitle-wide shadow">{{ mold.data.position }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Posición</mat-card-subtitle>
        </div>
        <div class="column">
          <mat-card-title class="subtitle-wide shadow">{{ mold.data.lastMaintenance?.maintenanceDate ? (mold.data.lastMaintenance?.maintenanceDate | date) : 'Indeterminado' }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Últ. mantto.</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'specific-date'">
          <mat-card-title class="subtitle-wide">{{ mold.data.nextMaintenance?.specificDate | date }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Sig. mantto.</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'days'">
          <mat-card-title class="subtitle-wide">{{ mold.data.nextMaintenance?.days | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Total (d)</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'hours'">
          <mat-card-title class="subtitle-wide">{{ mold.data.nextMaintenance?.hours | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Total (hr)</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'hits'">
          <mat-card-title class="subtitle-wide shadow">{{ mold.data.thresholdRed | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Total (g)</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'hits-or-hours'">
          <mat-card-title class="subtitle-wide">
            <span>{{ mold.data.thresholdRed | number }}</span> / 
            <span>{{ mold.data.nextMaintenance?.hours | number }}</span>
          </mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Total (g/hr)</mat-card-subtitle>
        </div>
        <div class="column" *ngIf="mold.data.strategy === 'hits-or-days'">
          <mat-card-title class="subtitle-wide">
            <span>{{ mold.data.thresholdRed | number }}</span> / 
            <span>{{ mold.data.nextMaintenance?.days | number }}</span>
          </mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Total (g/d)</mat-card-subtitle>
        </div>
        
        <div
          class="column border-days"
          *ngIf="mold.data.strategy === 'days' || mold.data.strategy === 'specific-date'"
          [ngClass]="[ maintenanceClass ]"
        >
          <mat-card-title class="subtitle-wide">{{ mold.data.nextMaintenance?.timeToLeft | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Faltan (d)</mat-card-subtitle>
        </div>
        <div
          class="column border-days"
          *ngIf="mold.data.strategy === 'hours'"
          [ngClass]="[ maintenanceClass ]"
        >
          <mat-card-title class="subtitle-wide">{{ mold.data.nextMaintenance?.timeToLeft | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Faltan (hr)</mat-card-subtitle>
        </div>
        <div
          class="column border-days"
          *ngIf="mold.data.strategy === 'hits'"
          [ngClass]="[ maintenanceClass ]"
        >
          <mat-card-title class="subtitle-wide">{{ (mold.data.thresholdRed - mold.data.hits) > 0  ? (mold.data.thresholdRed - mold.data.hits) : 0  | number }}</mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Faltan (g)</mat-card-subtitle>
        </div>
        <div
          class="column border-days"
          *ngIf="mold.data.strategy === 'hits-or-hours'"
          [ngClass]="[ maintenanceClass ]"
        >
          <mat-card-title class="subtitle-wide">
            <span>{{ mold.data.nextMaintenance?.hitsToLeft | number }}</span>/
            <span>{{ mold.data.nextMaintenance?.timeToLeft | number }}</span>
          </mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Faltan (g/hr)</mat-card-subtitle>
        </div>
        <div
          class="column border-days"
          *ngIf="mold.data.strategy === 'hits-or-days'"
          [ngClass]="[ maintenanceClass ]"
        >
          <mat-card-title class="subtitle-wide">
            <span>{{ mold.data.nextMaintenance?.hitsToLeft | number }}</span>/
            <span>{{ mold.data.nextMaintenance?.timeToLeft | number }}</span>
          </mat-card-title>
          <mat-card-subtitle class="label-sub-wide">Faltan (g/d)</mat-card-subtitle>
        </div>
      </mat-card-content>
    </div>
    <mat-card-footer class="right-wide">        
      <div class="molds-hits-data-wide">
        <!--<div echarts [options]="chartData" class="demo-chart"></div>-->        
        <div
          class="mold-hits-box-wide"          
        >
          <span class="hits-label-wide">HITS actuales</span>
          <div
            class="mold-hits-wide"
            [ngClass]="[ borderColorClass ]"
          >
            <ng-container *ngFor="let show of showNumber; let number = index; trackBy: trackByFn">
              <div
                class="number-container-wide"
                [ngClass]="[ progressForeColorClass, progressBackgroundColorClass ]"
              >
                <div
                  class="number-wide"
                  @numbers
                  *ngIf="showNumber[number] === 'Pair'"
                >
                  {{ digitPair[number] }}
                </div>
                <div
                  class="number-wide"
                  @numbers
                  *ngIf="showNumber[number] === 'Odd'"
                >
                  {{ digitOdd[number] }}
                </div>
              </div>
            </ng-container>
          </div>
           <mat-progress-bar
              *ngIf="alarmed"
              mode="indeterminate"
              color="warn"
              name="active-progress-bar"
              class="progress"
            >
            </mat-progress-bar>
          </div>
        <div
          class="mold-hits-pct-box-wide"          
        >
          <span class="hits-label-wide">PCT a alarmar</span>
          <div
            class="mold-hits-spinner-wide"          
          >
            <app-spinner
              style="margin-top: 10px"
              class="spinner"
              [diameter]="90"
              [value]="valueToPrint"
              [showBackgound]="true"
              [suffix]="'%'"
              [limits]="limits"
              [fonts]="fonts"
              [exhaustedValue]="'999'"
              [prefix]="'>'"
              [showPrefix]="showPrefix"
              [smallFont]="smallFont"
            ></app-spinner>
          </div>
        </div>
      </div>
      <mat-card-subtitle
        class="last-hit-wide"
        [matTooltip]="_sharedService.labelElapsedTime(mold.data.lastHit)"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100" >
        <span>Últ. golpe: </span>
        <span *ngIf="mold.data.hits">
          <strong>{{ _sharedService.labelElapsedTime(mold.data.lastHit) }}</strong>
        </span>
        <span
          *ngIf="!mold.data?.lastHit"
         >
          <strong>Indeterminado...</strong>
        </span>
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
</div> 
  
