@use "../../../../assets/styles/mixins";

.container {
    border-radius: 5px;
    border-top: 3px solid transparent;    
}

.alarmed {
    border-radius: 5px;
    border-top: 3px solid red;    
}

.warning {
    border-radius: 5px;
    border-top: 3px solid red;    
}

.title {
    font-size: 2rem;
    @include mixins.text-ellipsis();
}

.border {
    background-color: #eeeeee;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px 0px;
    border: 2px solid #dddddd;
}

.title:hover {
    @include mixins.text-ellipsis(2);
}

.subtitle {
    font-size: 1.5rem;
    @include mixins.text-ellipsis();
}

.label {
    font-size: 1.3rem;
    margin-top: -5px;
    @include mixins.text-ellipsis();
}

mat-card-title {
    font-weight: 900;
}

.card {
    height: 100%;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 10px 0px;
}

.card-image {
    margin-bottom: auto
}

.mold-hits {
    @include mixins.flexbox(row, wrap, 1px, end);    
    font-size: 5rem;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 8px 0px;
    width: fit-content;
    margin: 10px;
    margin-left: auto;
    align-content: center;
    padding: 2px;
}

.pulse {
    animation: pulse-animation 2s infinite;
  }
  
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(227, 49, 49, 0.6);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }

.divider {
    @include mixins.divider();    
}

.extended {
    margin-top: 10px;
}

.mold-name {
    @include mixins.text-ellipsis(3);    
}

.number-container {
    display: flex;
    position: relative;
    width: 45px;
    height: 55px;
    border: 0.5px solid #dddddd;
    border-radius: 3px;
}

.number {    
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 6px;
    margin-top: 15px;
}

.mold-image {
    width: inherit;
    object-fit: contain;
}

.image-container {    
    height: 140px;    
    position: relative;
    padding: 10px;
}

.molds-hits-data {
    @include mixins.flexbox(row, wrap, 1px, end);    
}

.maintenance {
    @include mixins.flexbox(row, nowrap, 1px, space-between);   
}

.column {
    text-align: center;
}

.column:first-child {
    text-align: left;
}

.border-days {
    padding: 2px;
    padding-right: 4px;
    border-radius: 8px 0px;
    border: 2px solid silver;    
}

.progress {
    margin-top: 5px;
    margin-bottom: -9px;
}

.last-hit {
    text-align: right;
    margin-right: 15px;
    margin-bottom: 5px;
}

.spinner {
    align-self: center;
    margin-left: 10px;
}
