<div 
  class="container"
  #questionCard
>
<ng-container *ngIf="screen$ | async "></ng-container>
  <mat-card
    class="question-card"
    [ngClass]="{
          'question-alarmed': item.alarmed,
          'lagacy-alarm': item.alarmed,
          'question-cancelled': item.status === ChecklistQuestionStatus.CANCELLED || inactive,
      }"
  >
    <div
      @dissolve
      *ngIf="
        item.status === ChecklistQuestionStatus.CANCELLED ||
        item.status === ChecklistQuestionStatus.COMPLETED ||
        item.status === ChecklistQuestionStatus.ATTACHMENT_MISSING ||
        item.actionRequired
      "
      class="corner"
      [ngStyle]="{
        backgroundColor:
          item.status === ChecklistQuestionStatus.COMPLETED && !item.alarmed
            ? 'var(--theme-accent-500)'
            : item.status === ChecklistQuestionStatus.CANCELLED
            ? 'var(--z-colors-page-card-disabled-background-color)'
            : 'var(--theme-warn-500)'
      }"
    >
      <mat-icon
        class="over-icon"
        [ngStyle]="{
          color:
            item.status === ChecklistQuestionStatus.COMPLETED && !item.alarmed
              ? 'var(--theme-accent-contrast-500)'
              : item.status === ChecklistQuestionStatus.CANCELLED
              ? 'var(--z-colors-page-fore)'
              : 'var(--theme-warn-contrast-500)'
        }"
        [svgIcon]="
          item.status === ChecklistQuestionStatus.COMPLETED
            ? 'check'
            : item.status === ChecklistQuestionStatus.ATTACHMENT_MISSING
            ? 'attachment_file'
            : item.status === ChecklistQuestionStatus.CANCELLED
            ? 'block'
            : 'warn_fill'
        "
        [matTooltipDisabled]="item.status === ChecklistQuestionStatus.COMPLETED"
        [matTooltip]="cornerTooltip"       
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
      >
      </mat-icon>
    </div>    
    <ng-container *ngIf="view === 'flexbox'; else isChecklist">
      <mat-card-header>
        <ng-container *ngIf="item.variable.valueType === GeneralValues.YESNO">      
          <div class="question-container">
            <div class="item-index-container">
              <div class="item-index">
                {{ item.order + 10 }}
              </div>
            </div>
            <div
              *ngIf="showChart" 
              class="mini-chart"
              echarts
              [options]="chartOption"
              [style.width.px]="miniChartWidth"
              [style.height.px]="miniChartHeight"
            >
            </div>
            <div class="item-response">              
              <mat-chip-listbox
                (change)="setAnswer($event)"
                [disabled]="item.status === ChecklistQuestionStatus.CANCELLED || inactive"
              >
                <mat-chip-option value="y" [selected]="item.value === GeneralValues.YES">
                  Si
                </mat-chip-option>
                <mat-chip-option value="n" [selected]="item.value === GeneralValues.NO">
                  No
                </mat-chip-option>
              </mat-chip-listbox>
            </div> 
            <img
              *ngIf="item.icon"
              alt="image"
              appImageNotFound
              class="item-image"
              [ngSrc]="item.icon"
              fill
            />
            <div class="item-text">
              <p>{{ item.text }}</p>
            </div>        
          </div>
        </ng-container>      
      </mat-card-header>    
      <mat-card-footer *ngIf="item.status !== ChecklistQuestionStatus.CANCELLED && !inactive">
        <app-question-toolbar 
          (buttonAction)="handleButton($event)"
          [elements]="item.buttons"
        >
        </app-question-toolbar>      
        <span
          *ngIf="item.required && !inactive && item.status !== ChecklistQuestionStatus.COMPLETED"
          class="required"
          matTooltip="Respuesta requerida"
          matTooltipClass="tooltip-general"
          matTooltipShowDelay="100"
        >
          !
        </span>
      </mat-card-footer>
    </ng-container>
  </mat-card>
</div>
<!-- Templates -->
<ng-template #isChecklist>
  <div class="checklist-flex" >    
    <div class="question-index">
      <div class="item-index-container">
        <div class="item-index">
          {{ item.order + 1 }}          
        </div>
      </div>
    </div>
    <div
      *ngIf="!!item.icon"
      class="question-image"
    >
      <img
        
        alt="image"
        appImageNotFound
        class="item-image"
        [ngSrc]="item.icon"
        fill
      />
    </div>    
    <div class="question-text">
      <div class="item-text">
        <p>{{ item.name }}</p>
      </div>  
      <div class="item-text">
        <p>{{ item.variable?.translatedNotes }}</p>
      </div>  
    </div>
    <div 
      [ngStyle]="{ 'margin-right': item.required ? '20px' : '2px' }"
      *ngIf="item.status !== ChecklistQuestionStatus.CANCELLED && !inactive"
    >
      <app-question-toolbar 
        (buttonAction)="handleButton($event)"
        [elements]="item.buttons"
      >
      </app-question-toolbar>      
      <span
        *ngIf="item.required && !inactive && item.status !== ChecklistQuestionStatus.COMPLETED"
        class="required"
        matTooltip="Respuesta requerida"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
      >
        !
      </span>
    </div>
  </div>    
  
</ng-template>
