<!--(@routingAnimation.done)="pageAnimationFinished($event)"-->
<div
  class="container"
  #catalogEdition
  @routingAnimation
  i18n
>
  <ng-container *ngIf="scroll$ | async"></ng-container>
  <ng-container *ngIf="workgroup$ | async"></ng-container>  
  <ng-container *ngIf="showGoTop$ | async"></ng-container>
  <ng-container *ngIf="settingsData$ | async"></ng-container>
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>  
  <ng-container *ngIf="toolbarAnimationFinished$ | async "></ng-container>  
  <ng-container *ngIf="parameters$ | async "></ng-container>
  <ng-container *ngIf="approvers$ | async "></ng-container>  
  <ng-container *ngIf="recipients$ | async "></ng-container>      
  <ng-container *ngIf="translations$ | async "></ng-container>  
  <ng-container *ngIf="updateWorkgroup$ | async "></ng-container>
  <ng-container *ngIf="updateWorkgroupCatalog$ | async "></ng-container>      
  <ng-container *ngIf="deleteWorkgroupTranslations$ | async "></ng-container>      
  <ng-container *ngIf="addWorkgroupTranslations$ | async "></ng-container>   
  <ng-container *ngIf="duplicateMainImage$ | async "></ng-container>     

  <mat-card class="card">
    <form
        class="layout"
        (ngSubmit)="onSubmit()"
        [formGroup]="workgroupForm"
        #f="ngForm"
      >
      <mat-accordion multi>
        <mat-expansion-panel
          (opened)="panelOpenState[0] = true"
          (closed)="panelOpenState[0] = false"
          hideToggle="true"
          [expanded]="panelOpenState[0]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[0]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" [svgIcon]="catalogIcon">
              </mat-icon>
              <label class="accordion-label"
                >INFORMACIÓN PRINCIPAL DEL GRUPO DE TRABAJO</label
              >
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[0]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="grid-multiple margin-top">
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='name'"
                [bordered]="true"
                [formField]="workgroupForm.controls.name"
                leftHint="Campo requerido"
                [fieldMaxLength]="300"
                [showRightHint]="true"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                fieldHelp="Especifique el nombre asignado al grupo de trabajo"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Descripción/Nombre del grupo de trabajo</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='prefix'"
                [bordered]="true"
                [formField]="workgroupForm.controls.prefix"
                leftHint="Campo requerido"
                [fieldMaxLength]="50"
                [showRightHint]="true"                
                [showCloseButton]="true"
                fieldHelp="Especifique la abreviación del grupo de trabajo"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Abreviación del grupo de trabajo</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="workgroupForm.controls.reference"
                leftHint="Campo opcional"
                [fieldMaxLength]="100"
                [showRightHint]="true"
                [showCloseButton]="true"
                fieldHelp="Especifique la referencia del grupo de trabajo"
              >
                <span fieldTitle class="label field__label"
                  >Referencia</span
                >
              </app-input-field>
            </div>
            <div class="field-items field-items--bordered">
              <app-area-field
                [bordered]="false"
                [formField]="workgroupForm.controls.notes"
                [fieldMaxLength]="500"
                [showRightHint]="true"
                [showCloseButton]="true"
                [minRows]="1"
                [maxRows]="5"
                fieldHelp="Especifique las notas referentes a este grupo de trabajo"
              >
                <span fieldTitle class="label field__label"
                  >Notas referentes al grupo de trabajo</span
                >
              </app-area-field>              
            </div>                     
            <div class="field-items">
              <fieldset class="field__container">
                <div class="image-and-field">
                  <div class="field-components">
                    <span class="label field__label">Imagen a mostrar</span>                
                    <mat-form-field appearance="fill" class="field__field">
                      <input
                        class="field__input"
                        matInput
                        [formControl]="workgroupForm.controls.mainImageName"                        
                        [readonly]="true"
                      />
                      <input type="file" style="display: none" (change)="onFileSelected($event)" accept=".png,.jpg,.jpeg,.svg,.bmp" #fileInput> 
                      <button
                        matSuffix
                        mat-icon-button
                        (click)="fileInput.click()"
                        style="margin-right: 5px;"
                        matTooltip="Abre la ventana de dialogo para buscar un archivo tipo imagen"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>search</mat-icon>
                      </button>
                      <button
                        *ngIf="workgroup.mainImage"
                        matSuffix
                        mat-icon-button
                        (click)="removeImage()"
                        style="margin-right: 5px;"
                        matTooltip="Remueve la imagen del grupo de trabajo"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>          
                    <span class="field__help">Busque en su disco la imagen que se mostrará en las vistas de este grupo de trabajo</span>
                  </div>                  
                  <div *ngIf="!loading" class="card-image">
                    <div
                      class="image-container"
                      *ngIf="workgroup.mainImage"
                    >
                      <img                
                        @dissolve
                        appImageNotFound                
                        class="mold-image"                        
                        [src]="workgroup.mainImage"
                        [alt]="workgroup.mainImage"            
                        fill
                      >      
                    </div>
                    <div
                      *ngIf="!workgroup.mainImage"
                      class="icon-container"
                    >
                      <mat-icon class="default-icon" [svgIcon]="catalogIcon"></mat-icon>
                    </div>    
                  </div>
                </div>                
              </fieldset>              
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    workgroupForm.controls.approver.touched &&
                    !workgroupForm.controls.approver.valid
                }"
                [disabled]="workgroupForm.controls.approver.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Aprobador del Grupo de trabajo</span>
                  <span class="field__label" *ngIf="workgroupForm.controls.approver?.value?.id">Id: {{ workgroupForm.controls.approver?.value?.id }}</span>
                </div>
                <app-auto-complete-field
                  [focused]="focusThisField==='approver'"
                  [formField]="workgroupForm.controls.approver"
                  [list]="approvers.items"
                  [totalCount]="approvers.totalCount"
                  leftHint="Escriba el nombre del aprobador a buscar"
                  [catalog]="SystemTables.USERS"
                  [loading]="approvers.loading"
                  noItemsError="No hay aprobador con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Nombre del aprobador</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    workgroupForm.controls.recipient.touched &&
                    !workgroupForm.controls.recipient.valid
                }"               
              >
                <div class="title-with-id">
                  <span class="label field__label">Recipiente asociado al departamento</span>
                  <span class="field__label" *ngIf="workgroupForm.controls.recipient?.value?.id">Id: {{ workgroupForm.controls.recipient?.value?.id }}</span>
                </div>
                <app-auto-complete-field
                  [focused]="focusThisField==='recipient'"
                  [formField]="workgroupForm.controls.recipient"
                  [list]="recipients.items"
                  [totalCount]="recipients.totalCount"
                  leftHint="Escriba el Nombre del recipiente a buscar"
                  [catalog]="SystemTables.RECIPIENTS"
                  [loading]="recipients.loading"
                  noItemsError="No hay recipientes con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Recipiente a notificar</span
                >
              </fieldset>
            </div>
          </div>          
        </mat-expansion-panel>        
      </mat-accordion>
    </form>
    <div
      *ngIf="workgroup.id"
      class="catalog-footer"
    >
      <div class="grid-dates">
        <div class="flex">
          <div class="readonly-value item-id">{{ workgroup.id }}</div>
          <div class="label-with-no-index">ID del registro</div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(workgroup.createdAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de creación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ workgroup.createdBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Creado por</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(workgroup.updatedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de modificación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ workgroup.updatedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Modificado por</div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="grid-inactive" *ngIf="workgroup.status === RecordStatus.INACTIVE">
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(workgroup.deletedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de inactivación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ workgroup.deletedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Inactivado por</div>
          </div>
        </div>
        <div class="flex-inactive">
          <div class="label-inactive">
            <strong>El registro está INACTIVO</strong>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>