<ng-container i18n class="container">
  <ng-container *ngTemplateOutlet="invalidSize ? invalid : valid">
  </ng-container>
  <ng-template #valid>
    <mat-toolbar class="toolbar" color="primary">
      <button
        mat-mini-fab
        class="button circular-button"
        aria-label="icon-button with menu icon"
        matTooltip="Abrir el menú principal"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
        (click)="sidenav.open()"
        @appearing
      >
        <mat-icon class="icon-toolbar" svgIcon="menu"> </mat-icon>
      </button>
      <h1 class="company-name">
        APLICACION TOYOTA <strong>{{ toolbarCurrentSize }}</strong>
      </h1>
      <button
        mat-mini-fab
        class="button toolbar-menu"
        aria-label="icon-button with menu icon"
        matTooltip="Abrir el toolbar de opciones"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
        (click)="sidenav.close()"
        *ngIf="toolbarData?.show && toolbarCurrentSize == 'small'"
        [matMenuTriggerFor]="menu"
        @appearing
      >
        <mat-icon class="icon-toolbar" svgIcon="vertical-menu"></mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <div
          class="menu-container"
          *ngFor="let button of toolbarData.elements; let i = index"
        >
          <button
            *ngIf="button.type === 'button'"
            mat-menu-item
            class="toolbar-button-small"
            aria-label="icon-button with menu icon"
            [disabled]="button.disabled"
          >
            <mat-icon
              *ngIf="button.showIcon"
              [svgIcon]="button.icon"
              class="menu-button"
            >
            </mat-icon>
            <span>{{ button.showCaption ? button.caption : "" }}</span>
          </button>
          <mat-divider *ngIf="button.type === 'divider'" class="divider">
          </mat-divider>
        </div>
      </mat-menu>
      <button
        *ngIf="!!profileData.avatar"
        mat-mini-fab
        class="button avatar-button"
        matTooltip="Opciones del usuario"
        matTooltipClass="tooltip-general"
        matTooltipShowDelay="100"
        aria-label="avatar"
        (click)="sidenav.close()"
        [matMenuTriggerFor]="menuAvatar"
        @appearing
      >
        <img
          appImageNotFound
          [imageByDefault]="'assets/icons/man.svg'"
          class="item-image"
          [ngSrc]="profileData.avatar"
          fill
        />
      </button>
      <mat-menu #menuAvatar="matMenu" class="menu">
        <div
          class="menu-container"
          *ngFor="let button of toolbarData.elements; let i = index"
        >
          <button
            *ngIf="button.type === 'button'"
            mat-menu-item
            class="toolbar-button-small"
            aria-label="icon-button with menu icon"
            [disabled]="button.disabled"
          >
            <mat-icon
              *ngIf="button.showIcon"
              [svgIcon]="button.icon"
              class="menu-button"
            >
            </mat-icon>
            <span>{{ button.showCaption ? button.caption : "" }}</span>
          </button>
          <mat-divider *ngIf="button.type === 'divider'" class="divider">
          </mat-divider>
        </div>
      </mat-menu>
    </mat-toolbar>
    <mat-progress-bar
      *ngIf="progressBarData?.show"
      mode="indeterminate"
      color="accent"
      class="progress"
      name="active-progress-bar"      
    >
    </mat-progress-bar>
    <mat-sidenav-container
      class="drawer-container"
      (backdropClick)="sidenav.close()"
      [ngStyle]="{ 'height': outletHeight }"
    >
      <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
        <mat-nav-list>
          <cdk-accordion>
            <mat-expansion-panel class="panel-main" hideToggle expanded="true">
              <mat-expansion-panel-header>
                <mat-icon>published_with_changes</mat-icon>
                <mat-panel-title class="accordion">OPERACIONES</mat-panel-title>
              </mat-expansion-panel-header>
              <a routerLink="molds" mat-list-item (click)="sidenav.close()">
                <mat-icon>backup_table</mat-icon>
                <span>Moldes</span>
              </a>
              <mat-divider></mat-divider>
              <a
                routerLink="checklists"
                mat-list-item
                (click)="sidenav.close()"
              >
                <mat-icon>checklist</mat-icon>
                <span>Checklist específico</span>
              </a>
            </mat-expansion-panel>
          </cdk-accordion>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div
          class="gotop-container"
          *ngIf="onTopStatus === 'active'"
          @appearing
        >
          <button mat-mini-fab class="gotop-button" (click)="gotoTop()">
            <mat-icon class="gotop-icon"> keyboard_arrow_up </mat-icon>
          </button>
        </div>
        <div
          class="toolbar-content"
          *ngIf="toolbarData?.show && toolbarCurrentSize != 'small'"
        >
          <app-toolbar
            @dissolve
            (@dissolve.done)="toolbarAnimationFinished($event)"
            (@dissolve.start)="toolbarAnimationStarted($event)"
            [toolbar]="toolbarData"
          >
          </app-toolbar>          
        </div>
        <div
          cdkScrollable
          class="page-content"
          [style.height.px]="allHeight"
          [style.top.px]="toolbarHeight"
        >
          <!--<div class="page-content">-->
          <router-outlet></router-outlet>
          <div *ngIf="loading" class="process-container" @dissolve>
            <div class="process-bar">
              <mat-progress-spinner
                class="process-loading"
                diameter="100"
                mode="indeterminate"
                color="primary"
              >
              </mat-progress-spinner>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar class="footer" @fromTop>
      <span
        >APLICACION TOYOTA <strong>{{ allHeight }}</strong></span
      >
      <span class="example-spacer"></span>      
    </mat-toolbar>
  </ng-template>
  <ng-template #invalid>
    <mat-toolbar class="toolbar" color="accent"> </mat-toolbar>
    <div class="error-box">
      <mat-icon class="big-icon" svgIcon="problems"> </mat-icon>
      <div class class="invalid-message">
        <div>La resolución mínima para ejecutar la aplicaición es de:</div>
        <div>Ancho: <strong>350 pixeles</strong></div>
        <div>Alto: <strong>400 pixeles</strong></div>
      </div>
    </div>
    <mat-toolbar class="footer error"> </mat-toolbar>
  </ng-template>
</ng-container>
