<div class="question-buttons">        
    <ng-container *ngFor="let button of buttons; let i = index">
        <button
            *ngIf="button.type === 'button'"
            mat-icon-button
            class="circular-button with-background"
            aria-label="icon-button with menu icon"
            [matTooltip]="button.tooltip"
            matTooltipClass="tooltip-general"
            matTooltipShowDelay="100"
            [disabled]="button.disabled"
            (click)="handleClick(button.action)"
            [ngClass]="{
                'warn': button.alarmed,
                'pulse-with-warn': button.alarmed
            }"
        >
            <mat-icon
                class="icon-button"
                [svgIcon]="button.icon"
            >
            </mat-icon>
        </button>
        <mat-divider
            *ngIf="button.type === 'divider'"
            vertical class="divider"
        >
        </mat-divider>
        
    </ng-container>
</div>
