<div>
  <mat-card-title>
    <div *ngIf="!loading">
      <div *ngIf="icon || reference" @dissolve class="flex-col">
        <mat-icon *ngIf="icon" class="accordion-icon" [svgIcon]="icon">
        </mat-icon>
        <app-label-ellipsis
          *ngIf="reference"
          [class]="referenceClass"
          [label]="reference"
        >
        </app-label-ellipsis>
        <app-label-ellipsis [class]="labelClass" [label]="label">
        </app-label-ellipsis>
        <button
          *ngIf="showGoToRecord"
          mat-icon-button
          class="button-on-new-tab"
          aria-label="icon-button with menu icon"
          [matTooltip]="openNewTabMessage"
          matTooltipClass="tooltip-general"
          matTooltipShowDelay="100"
          (click)="openRecordInNewTab()"
        >
          <mat-icon class="accordion-icon in-button" svgIcon="external_link">
          </mat-icon>
        </button>
      </div>
      <app-label-ellipsis
        @dissolve
        *ngIf="!reference && !icon"
        [class]="labelClass"
        [label]="label"
      >
      </app-label-ellipsis>
    </div>
    <ngx-skeleton-loader
      *ngIf="loading"
      class="text"
      [theme]="skeletonTheme"
      [count]="skeletonCount"
    >
    </ngx-skeleton-loader>
  </mat-card-title>
</div>
