@use "../../../../assets/styles/mixins";

.container-animated {
    display: flex;
    flex-direction: column;    
    height: calc(100% - 60px);
}

table {
  border: 1px solid var(--z-colors-table-border-color);
  border-radius: 8px 8px 0px 0px;    
}

.molds-table {
  width: calc(100% - 15px);
  flex: 1;
  min-height: 0;
  overflow: auto;  
  padding-right: 7px;
  padding-bottom: 3px;
  margin-bottom: 10px !important;
  margin: 5px;
  &__paginator {
    font-size: 1.5rem;        
    background-color: var(--z-colors-paginator-background-color);
    color: var(--z-colors-paginator-fore-color);
    position: absolute;
    right: 0;
    bottom: 0;    
    margin: 5px;
  }
  &__paginator-bot {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    font-size: 1.5rem;
    border: 1px solid var(--z-colors-table-border-color);
    border-radius: 0px 0px 8px 8px;
    background-color: var(--z-colors-paginator-background-color);
    color: var(--z-colors-paginator-fore-color);    
    left: 0;
    margin: 5px;    
    @include mixins.flexbox(row, wrap, 10px, flex-start);
    height: 60px
  }
  &__no-data {
    font-size: 1.8rem;  
    text-align: center !important;
    padding: 10px;
  }
}

::ng-deep .mat-mdc-paginator-icon {
  fill: var(--z-colors-paginator-fore-color) !important;    
}

.mat-mdc-form-field {
  font-size: 1.5rem;
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: var(--z-colors-table-hover-background-color) !important;
}

td:nth-child(1) {
  min-width: 80px !important;
  width: 80px !important;
  text-align: right;
}

th:nth-child(1) {
  min-width: 80px !important;
  width: 80px !important;
  text-align: right;
}

td:nth-child(2) {
  min-width: 92px !important;
  max-width: 92px !important;
  width: 92px !important;
}

th:nth-child(2) {
  min-width: 92px !important;
  max-width: 92px !important;
  width: 92px !important;
}

th:nth-child(3) {
  min-width: 400px !important;
  max-width: 450px !important;
  width: 25% !important;
}

td:nth-child(4) {
  min-width: 140px !important;
  max-width: 140px !important;
  width: 140px !important;  
}

th:nth-child(4) {
  min-width: 140px !important;
  max-width: 140px !important;
  width: 140px !important;
}

td:nth-child(5) {
  min-width: 140px !important;
  max-width: 140px !important;
  width: 140px !important;
  text-align: center;
}

th:nth-child(5) {
  min-width: 140px !important;
  max-width: 140px !important;
  width: 140px !important;
  text-align: center;
}

.mat-mdc-header-row {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--z-colors-table-header-background-color) !important;
  color: var(--z-colors-table-header-fore-color) !important;
}

::ng-deep .mat-sort-header-arrow {
  color: var(--z-colors-table-header-fore-color);
}

.mat-mdc-row {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--z-colors-table-row-fore-color);
}

tr:nth-child(2n) {
  background-color: var(--z-colors-table-odd-background-color);  
}

tr:nth-child(2n+1) {
  background-color: var(--z-colors-table-even-background-color);
}

.mold-image {
  width: inherit;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.image-container-wide {    
  height: 60px;    
  width: 60px;    
  position: relative;
  display: flex
}

.card-image {
  margin-bottom: auto
}

tr {
  max-height: 40px !important;
  height: 40px !important;
}

td {
  max-height: 40px !important;
  height: 40px !important;
}

::ng-deep .mat-mdc-paginator-navigation-next {
  &:disabled {
    cursor: url("../../../../assets/icons/unable.png"), not-allowed;
    .mat-mdc-paginator-icon {
      fill: rgba(0, 0, 0, 0.2) !important;
    }
  }    
}

::ng-deep .mat-mdc-paginator-navigation-previous {
  &:disabled {
    cursor: url("../../../../assets/icons/unable.png"), not-allowed;
    .mat-mdc-paginator-icon {
      fill: rgba(0, 0, 0, 0.2) !important;
    }
  }    
}

::ng-deep .mat-mdc-paginator-navigation-first {
  &:disabled {
    cursor: url("../../../../assets/icons/unable.png"), not-allowed;
    .mat-mdc-paginator-icon {
      fill: rgba(0, 0, 0, 0.2) !important;
    }
  }    
}

::ng-deep .mat-mdc-paginator-navigation-last {
  &:disabled {
    cursor: url("../../../../assets/icons/unable.png"), not-allowed;
    .mat-mdc-paginator-icon {
      fill: rgba(0, 0, 0, 0.2) !important;
    }
  }    
}

.card-color {
  margin: 10px; 
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 0px;
}
