<!--(@routingAnimation.done)="pageAnimationFinished($event)"-->
<div
  class="container"
  #moldCatalogEdition
  @routingAnimation
  name="catalog-mold-edition"  
  cdkScrollable
  i18n
>
  <ng-container *ngIf="scroll$ | async"></ng-container>
  <ng-container *ngIf="showGoTop$ | async"></ng-container>
  <ng-container *ngIf="providers$ | async"></ng-container>
  <ng-container *ngIf="manufacturers$ | async"></ng-container>
  <ng-container *ngIf="settingsData$ | async"></ng-container>
  <ng-container *ngIf="moldTypes$ | async"></ng-container>
  <ng-container *ngIf="moldClasses$ | async"></ng-container>
  <ng-container *ngIf="partNumbers$ | async"></ng-container>
  <ng-container *ngIf="moldThresholdTypes$ | async"></ng-container>
  <ng-container *ngIf="labelColors$ | async"></ng-container>
  <ng-container *ngIf="states$ | async"></ng-container>
  <ng-container *ngIf="lines$ | async"></ng-container>
  <ng-container *ngIf="equipments$ | async"></ng-container>
  <ng-container *ngIf="maintenances$ | async"></ng-container>  
  <!--<ng-container *ngIf="moldFormChanges$ | async"></ng-container>-->
  <ng-container *ngIf="moldThresholdTypeChanges$ | async"></ng-container>
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>  
  <ng-container *ngIf="toolbarAnimationFinished$ | async "></ng-container>  
  <ng-container *ngIf="parameters$ | async "></ng-container>  
  <ng-container *ngIf="mold$ | async "></ng-container>  
  <ng-container *ngIf="moldDataLoading$ | async "></ng-container>  
  <ng-container *ngIf="translations$ | async "></ng-container>  
  <ng-container *ngIf="updateMold$ | async "></ng-container>  
  <ng-container *ngIf="deleteCatalogDetails$ | async "></ng-container>        
  <ng-container *ngIf="updateMoldTranslations$ | async "></ng-container>   
  <ng-container *ngIf="addOrUpdateCatalogDetails$ | async "></ng-container>   
  <ng-container *ngIf="deleteMoldMaintenanceHistory$ | async "></ng-container>       
  <ng-container *ngIf="checklistTemplatesYellow$ | async "></ng-container>       
  <ng-container *ngIf="checklistTemplatesRed$ | async "></ng-container>   
  <ng-container *ngIf="updateMoldCatalog$ | async "></ng-container>    
  <ng-container *ngIf="macros$ | async"></ng-container>       
  <ng-container *ngIf="genYesNoValues$ | async"></ng-container>
  <ng-container *ngIf="notificationChannels$ | async"></ng-container>  
  <ng-container *ngIf="recipients$ | async"></ng-container>  
  <ng-container *ngIf="duplicateMainImage$ | async "></ng-container>
  <ng-container *ngIf="entities$ | async "></ng-container>       
  <ng-container *ngIf="generationModes$ | async "></ng-container>        

  <div @dissolve class="sticky" *ngIf="showMacros">
    <mat-card>
      <div class="card-macros">
        <div
          class="macro-element"  
          *ngFor="let macro of macros.items; let i = index"
          [innerHTML]="macro.friendlyText"
        >        
        </div>      
      </div>
      <mat-divider style="margin: 0px 10px 5px 10px;"></mat-divider>
      <div style="padding: 0px 10px 10px 10px;"><strong>Inserte en el campo el id de la macro incluyendo los corchetes. Estas macros serán sustituidas por su valor correspondiente al momento de generar el checklist.</strong></div>
    </mat-card>  
  </div>

  <mat-card class="card">
    <div *ngIf="mold.thresholdState" class="grid-multiple margin-top">
      <div [ngClass]="getMoldStateClass()">
        <mat-icon class="message-icon" svgIcon="warn_fill"></mat-icon>
        <app-label-ellipsis
          [labelInnerHTML]="getMoldStateLabel()"
          [lines]="2"
        ></app-label-ellipsis>
      </div>
    </div>
    <mat-divider *ngIf="mold.thresholdState" style="margin: 5px 10px"></mat-divider>
    <form
        class="layout"
        (ngSubmit)="onSubmit()"
        [formGroup]="moldForm"
        #f="ngForm"
      >
      <mat-accordion multi>
        <mat-expansion-panel
          (opened)="panelOpenState[0] = true"
          (closed)="panelOpenState[0] = false"
          hideToggle="true"
          [expanded]="panelOpenState[0]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[0]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" [svgIcon]="catalogIcon">
              </mat-icon>
              <label class="accordion-label"
                >INFORMACIÓN PRINCIPAL DEL MOLDE</label
              >
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[0]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="grid-multiple margin-top">
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='description'"
                [bordered]="true"
                [formField]="moldForm.controls.description"
                leftHint="Campo requerido"
                [fieldMaxLength]="100"
                [showRightHint]="true"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                fieldHelp="Especifique el nombre asignado al molde"
                [initialFocus]="true"                
              >
                <span fieldTitle class="label field__label"
                  >Descripción/Nombre del molde</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [focused]="focusThisField==='serialNumber'"
                [bordered]="true"
                [formField]="moldForm.controls.serialNumber"
                leftHint="Campo requerido"
                [fieldMaxLength]="100"
                [showRightHint]="true"
                currentErrorMessage="Este campo no puede estar vacío"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                fieldHelp="Especifique el Serial del molde"
              >
                <span fieldTitle class="label field__label"
                  >Serial/Número de serie</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="moldForm.controls.reference"
                rightHint="Campo opcional"                  
                [fieldMaxLength]="100"
                [showRightHint]="true"
                [showCloseButton]="true"
                fieldHelp="Especifique la referencia del molde"
              >
                <span fieldTitle class="label field__label"
                  >Referencia</span
                >
              </app-input-field>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 250px"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.startingDate.touched &&
                    !moldForm.controls.startingDate.valid
                }"
                [disabled]="moldForm.controls.startingDate.disabled"
              >
                <span class="label field__label">Fecha de inicio de operaciones</span>
                <mat-form-field appearance="fill" class="field__field">
                  <input
                    class="field__input"
                    matInput
                    formControlName="startingDate"
                    #startingDate
                    name="startingDate"
                    [matDatepicker]="startingDatePicker"
                  />
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="startingDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startingDatePicker></mat-datepicker>
                  <mat-error class="field__error field__required">
                    <mat-icon
                      class="field__required-icon"
                      svgIcon="warn_line"
                    ></mat-icon>
                    <span class="field__required-label"
                      ><strong>Error en el formato de la fecha</strong></span
                    >
                  </mat-error>
                </mat-form-field>
                <span class="field__help"
                  >Especifique la fecha en que inicio operaciones de éste molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <app-area-field
                [bordered]="true"
                [formField]="moldForm.controls.notes"
                [fieldMaxLength]="500"
                [showRightHint]="true"
                [showCloseButton]="true"
                [minRows]="1"
                [maxRows]="5"
                fieldHelp="Especifique las notas referentes a este molde"
              >
                <span fieldTitle class="label field__label"
                  >Notas referentes al molde</span
                >
              </app-area-field>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.moldType.touched &&
                    !moldForm.controls.moldType.valid
                }"
                [disabled]="moldForm.controls.moldType.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Tipo de molde</span>
                  <span class="field__label" *ngIf="moldForm.controls.moldType?.value?.id">id: {{ moldForm.controls.moldType?.value?.id }}</span>
                </div>
                <app-auto-complete-field
                  [focused]="focusThisField==='moldType'"
                  [formField]="moldForm.controls.moldType"
                  [list]="moldTypes.items"
                  [totalCount]="moldTypes.totalCount"
                  leftHint="Escriba el Tipo de molde"
                  [catalog]="SystemTables.MOLD_TYPES"
                  [loading]="moldTypes.loading"
                  noItemsError="No hay Tipos de molde con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help">Especifique el Tipo de molde</span>
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.moldClass.touched &&
                    !moldForm.controls.moldClass.valid
                }"
                [disabled]="moldForm.controls.moldClass.disabled"
              >
              <div class="title-with-id">
                <span class="label field__label">Clase de molde</span>
                <span class="field__label" *ngIf="moldForm.controls.moldClass?.value?.id">id: {{ moldForm.controls.moldClass?.value?.id }}</span>
              </div>
                <app-auto-complete-field
                [focused]="focusThisField==='moldClass'"
                  [formField]="moldForm.controls.moldClass"
                  [list]="moldClasses.items"
                  [totalCount]="moldClasses.totalCount"
                  leftHint="Escriba la Clase de molde"
                  [catalog]="SystemTables.MOLD_CLASSES"
                  [loading]="moldClasses.loading"
                  noItemsError="No hay Clases de molde con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help">Especifique la Clase de molde</span>
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"                
              >
                <div class="image-and-field">
                  <div class="field-components">
                    <span class="label field__label">Imagen a mostrar</span>                
                    <mat-form-field appearance="fill" class="field__field">
                      <input
                        class="field__input"
                        matInput
                        [formControl]="moldForm.controls.mainImageName"                        
                        [readonly]="true"
                      />
                      <input type="file" style="display: none" (change)="onFileSelected($event)" accept=".png,.jpg,.jpeg,.svg,.bmp" #fileInput> 
                      <button
                        matSuffix
                        mat-icon-button
                        (click)="fileInput.click()"
                        style="margin-right: 5px;"
                        matTooltip="Abre la ventana de dialogo para buscar un archivo tipo imagen"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>search</mat-icon>
                      </button>
                      <button
                        *ngIf="mold.mainImage"
                        matSuffix
                        mat-icon-button
                        (click)="removeImage()"
                        style="margin-right: 5px;"
                        matTooltip="Remueve la imagen del molde"
                        matTooltipClass="tooltip-general"
                        matTooltipShowDelay="100"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>          
                    <span class="field__help">Busque en su disco la imagen que se mostrará en las vistas de este molde</span>
                  </div>                  
                  <div *ngIf="!loading" class="card-image">
                    <div
                      class="image-container"
                      *ngIf="this.mold.mainImage"
                    >
                      <img                
                        @dissolve
                        appImageNotFound                
                        class="mold-image"                        
                        [src]="this.mold.mainImage"
                        [alt]="this.mold.mainImage"            
                        fill
                      >      
                    </div>
                    <div
                      *ngIf="!this.mold.mainImage"
                      class="icon-container"
                    >
                      <mat-icon class="default-icon" [svgIcon]="catalogIcon"></mat-icon>
                    </div>    
                  </div>
                </div>                
              </fieldset>              
            </div>
          </div>
          <mat-divider style="margin: 5px 10px"></mat-divider>
          <div class="grid-multiple margin-top">            
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.provider.touched &&
                    !moldForm.controls.provider.valid
                }"
                [disabled]="moldForm.controls.provider.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Proveedor del molde</span>
                  <span class="field__label" *ngIf="moldForm.controls.provider?.value?.id">Id: {{ moldForm.controls.provider?.value?.id }}</span>
                </div>
                <app-auto-complete-field
                  [focused]="focusThisField==='provider'"
                  [formField]="moldForm.controls.provider"
                  [list]="providers.items"
                  [totalCount]="providers.totalCount"
                  leftHint="Escriba el nombre del proveedor a buscar"
                  [catalog]="SystemTables.PROVIDERS"
                  [loading]="providers.loading"
                  noItemsError="No hay proveedores con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Nombre del proveedor del molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.manufacturer.touched &&
                    !moldForm.controls.manufacturer.valid
                }"
                [disabled]="moldForm.controls.manufacturer.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Fabricante del molde</span>
                  <span class="field__label" *ngIf="moldForm.controls.manufacturer?.value?.id">id: {{ moldForm.controls.manufacturer?.value?.id }}</span>
                </div>                
                <app-auto-complete-field
                  [focused]="focusThisField==='manufacturer'"
                  [formField]="moldForm.controls.manufacturer"
                  [list]="manufacturers.items"
                  [totalCount]="manufacturers.totalCount"
                  leftHint="Escriba el nombre del fabricante a buscar"                  
                  [catalog]="SystemTables.MANUFACTURERS"
                  [loading]="manufacturers.loading"
                  noItemsError="No hay fabricantes con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Nombre del fabricante del molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 250px"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.manufacturingDate.touched &&
                    !moldForm.controls.manufacturingDate.valid
                }"
                [disabled]="moldForm.controls.manufacturingDate.disabled"
              >
                <span class="label field__label"
                  >Fecha de fabricación del molde</span
                >
                <mat-form-field appearance="fill" class="field__field">
                  <input
                    class="field__input"
                    matInput
                    formControlName="manufacturingDate"
                    #manufacturingDate
                    name="manufacturingDate"
                    [matDatepicker]="manufacturingDatePicker"
                  />
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="manufacturingDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #manufacturingDatePicker></mat-datepicker>
                  <mat-error class="field__error field__required">
                    <mat-icon
                      class="field__required-icon"
                      svgIcon="warn_line"
                    ></mat-icon>
                    <span class="field__required-label"
                      ><strong>Error en el formato de la fecha</strong></span
                    >
                  </mat-error>
                </mat-form-field>
                <span class="field__help"
                  >Especifique la fecha en que se fabricó éste molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="moldForm.controls.timeZone"
                rightHint="Campo opcional"
                fieldInputType="number"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                [showRightHint]="true"
                leftHint="Expresado en segundos"
                fieldHelp="Timezone del molde"
                [rightSuffix]="_sharedService.getHours(moldForm.controls.timeZone.value)"
              >
                <span fieldTitle class="label field__label"
                  >Tiempo del huso horario del molde</span
                >
              </app-input-field>
            </div>
          </div>
          
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState[1] = true"
          (closed)="panelOpenState[1] = false"
          hideToggle="true"
          [expanded]="panelOpenState[1]"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'55px'"
            [ngStyle]="{
              'background-color': panelOpenState[1]
                ? 'var(--z-colors-page-shadow)'
                : 'var(--z-colors-page-card-background-color)'
            }"
          >
            <mat-panel-title>
              <mat-icon class="accordion-icon" svgIcon="time"> </mat-icon>
              <label class="accordion-label">USO</label>
            </mat-panel-title>
            <div class="icon-button-container">
              <button
                mat-icon-button
                class="icon-button open"
                aria-label="icon-button with menu icon"
              >
                <mat-icon class="icon-button">
                  {{
                    panelOpenState[1]
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>
          <div class="grid-multiple margin-top">
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.partNumber.touched &&
                    !moldForm.controls.partNumber.valid
                }"
                [disabled]="moldForm.controls.partNumber.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Número de parte</span>
                  <span class="field__label" *ngIf="moldForm.controls.partNumber?.value?.id">id: {{ moldForm.controls.partNumber?.value?.id }}</span>
                </div>          
                <app-auto-complete-field
                  [focused]="focusThisField==='partNumber'"
                  [formField]="moldForm.controls.partNumber"
                  [list]="partNumbers.items"
                  [totalCount]="partNumbers.totalCount"
                  leftHint="Escriba el número de parte"                  
                  [catalog]="SystemTables.PARTNUMBERS"
                  [loading]="partNumbers.loading"
                  noItemsError="No hay números de parte con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Número de parte asignado al molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <app-input-field
                [bordered]="true"
                [formField]="moldForm.controls.position"
                rightHint="Campo opcional"
                fieldInputType="number"
                currentErrorIcon="warn_line"
                [showCloseButton]="true"
                [showRightHint]="true"
                leftHint="Deje vacío o en cero para no asignar el molde"
                fieldHelp="Especifique la posición donde se adignará el molde"
              >
                <span fieldTitle class="label field__label">Posición</span>
              </app-input-field>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.line.touched &&
                    !moldForm.controls.line.valid
                }"
                [disabled]="moldForm.controls.line.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Línea de producción</span>
                  <span class="field__label" *ngIf="moldForm.controls.line?.value?.id">id: {{ moldForm.controls.line?.value?.id }}</span>
                </div>                 
                <app-auto-complete-field
                  [focused]="focusThisField==='line'"
                  [formField]="moldForm.controls.line"
                  [list]="lines.items"
                  [totalCount]="lines.totalCount"
                  leftHint="Escriba el nombre de la línea de producción a buscar"                  
                  [catalog]="SystemTables.LINES"
                  [loading]="lines.loading"
                  noItemsError="No hay líneas de producción con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Nombre de la línea de producción asociada al molde</span
                >
              </fieldset>
            </div>
            <div class="field-items">
              <fieldset
                class="field__container"
                style="min-width: 350px; height: calc(100% - 22px);"
                [ngClass]="{
                  'field__container--error':
                    moldForm.controls.equipment.touched &&
                    !moldForm.controls.equipment.valid
                }"
                [disabled]="moldForm.controls.equipment.disabled"
              >
                <div class="title-with-id">
                  <span class="label field__label">Equipo/Máquina</span>
                  <span class="field__label" *ngIf="moldForm.controls.equipment?.value?.id">id: {{ moldForm.controls.equipment?.value?.id }}</span>
                </div>           
                <app-auto-complete-field
                  [focused]="focusThisField==='equipment'"
                  [formField]="moldForm.controls.equipment"
                  [list]="equipments.items"
                  [totalCount]="equipments.totalCount"
                  leftHint="Escriba el nombre del equipo a buscar"                  
                  [catalog]="SystemTables.EQUIPMENTS"
                  [loading]="equipments.loading"
                  noItemsError="No hay equipos/máquinas con este nombre"
                  [showDataState]="true"
                  (optionSelected)="handleOptionSelected($event)"
                  (getMoreData)="getMoreData($event)"
                >
                </app-auto-complete-field>
                <span class="field__help"
                  >Especifique el Nombre del equipo o máquina asociada al molde</span
                >
              </fieldset>
            </div>
            <!--<div class="field-items">
              <app-select-field
                [formField]="moldForm.controls.label"
                selectType="colored"
                [list]="labelColors.items"
                leftHint="Seleccione un valor de la lista"
                rightHint="Campo opcional"
                [showRightHint]="true"
                fieldHelp="Especifique el color de la etiqueta"
              >
                <span fieldTitle class="label field__label"
                  >Color de la etiqueta</span
                >
              </app-select-field>
            </div>-->
            <div class="field-items">
              <app-select-field
                [formField]="moldForm.controls.state"
                [list]="states.items"
                leftHint="Seleccione un valor de la lista"
                rightHint="Campo opcional"
                [showRightHint]="true"
                fieldHelp="Especifique el Estado actual del molde"
              >
                <span fieldTitle class="label field__label"
                  >Estado actual del molde</span
                >
              </app-select-field>
            </div>
          </div>
        </mat-expansion-panel>
        
      </mat-accordion>
    </form>
    <div
      *ngIf="mold.id"
      class="catalog-footer"
    >
      <div class="grid-dates">
        <div class="flex">
          <div class="readonly-value item-id">{{ mold.id }}</div>
          <div class="label-with-no-index">ID del registro</div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(mold.createdAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de creación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ mold.createdBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Creado por</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(mold.updatedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de modificación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ mold.updatedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Modificado por</div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="grid-inactive" *ngIf="mold.status === RecordStatus.INACTIVE">
        <div class="flex">
          <div class="readonly-value">{{ _sharedService.convertUtcTolocal(mold.deletedAt) | date :"medium" }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="event"></mat-icon>
            <div class="label-with-no-index">Fecha de inactivación</div>
          </div>
        </div>
        <div class="flex">
          <div class="readonly-value">{{ mold.deletedBy?.name ?? ScreenDefaultValues.N_A }}</div>
          <div class="flex-row">
            <mat-icon class="small-icon" svgIcon="man"></mat-icon>
            <div class="label-with-no-index">Inactivado por</div>
          </div>
        </div>
        <div class="flex-inactive">
          <div class="label-inactive">
            <strong>El registro está INACTIVO</strong>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<ng-template #skeleton>
  <ngx-skeleton-loader
    *ngIf="loadingMaintenance"
    class="skeleton"
    [theme]="{ height: '24px', marginBottom: '0px', backgroundColor: 'rgba(0, 0, 0, 0.075)', maxWidth: '140px', width: '140px' }"
    count="1"
  >
  </ngx-skeleton-loader>
</ng-template>