<div>
    <mat-form-field class="container"
        
    >
        <input
            class="search-box-textbox"
            matInput
            [formControl]="formField"
            [maxlength]="maxLength"
            [placeholder]="placeHolder"
            name="search"
        >
        <button
            class="close-button"
            mat-mini-fab
            [disabled]="!formField.value"
            matSuffix
            aria-label="Clear"
            (click)="formField.setValue('')"  
        >
            <mat-icon class="close-icon">close</mat-icon>   
        </button>        
    </mat-form-field>
</div>