<div
  i18n
  class="container"
  #moldHitsCounter
  @routingAnimation  
>  
  <ng-container *ngIf="scroll$ | async "></ng-container>   
  <ng-container *ngIf="settingsData$ | async "></ng-container>  
  <ng-container *ngIf="toolbarClick$ | async "></ng-container>
  <ng-container *ngIf="profileData$ | async "></ng-container>   
  <ng-container *ngIf="showGoTop$ | async "></ng-container>   
  <ng-container *ngIf="everySecond$ | async "></ng-container>  
  <ng-container *ngIf="animation$ | async "></ng-container>
  <ng-container *ngIf="searchBox$ | async "></ng-container>  
  <ng-container *ngIf="moldsHitsData$ | async "></ng-container>   
  <ng-container *ngIf="moldsHitsLoading$ | async "></ng-container>   
  <ng-container *ngIf="stopTimer$ | async "></ng-container>
  <ng-container *ngIf="screen$ | async "></ng-container>

  <ng-container *ngTemplateOutlet="!loading ? molds : loader">

  </ng-container>
  <ng-template #molds>
    <div
      class="container-animated"
      (@dissolve.done)="pageAnimationFinished($event)"
      @dissolve            
    >   
      <div
        class="cards-container"
        cdkScrollable        
      >
        <div 
          [@listAnimation]="moldsHitsToShow.length"
          [@.disabled]="disableListAnimation"
          (@listAnimation.done)="listAnimationFinished($event)"
          (@listAnimation.start)="listAnimationStarted($event)"
          class="mold-container"
        >
          <div 
            *ngFor="let mold of moldsHitsToShow; let i = index; trackBy: trackByFn"
            class="mold-container"                        
            #hitsCounters     
          >
            <app-mold-hits-counter            
                                 
              class="mold-item"
              [mold]="mold"
              [intemIndex]="mold.data.index"
              [ngStyle]="{ 'background-color': (mold.data.index % 2 === 0) ? 'transparent' : 'rgba(0, 0, 0, 0.3)' }"
            ></app-mold-hits-counter> 
          </div>
        </div>
        <div
          *ngIf="moldsHitsToShow.length === 0 && !animatingList"
          @dissolve
          class="no-data-message"
        >
          No se hallaron moldes con los filtros establecidos
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #loader>
    <div
      *ngIf="profileData.animate"
      class="container-animated"    
      @dissolve
    >
      <div class="cards-container">
        <mat-card
          class="card"
          *ngFor="let number of [0, 1, 2, 4]"
        >
          <mat-card-content>
            <ngx-skeleton-loader 
              [theme]="{
                height: '40px',
                marginBottom: '0px',
                backgroundColor: 'rgba(0, 0, 0, 0.075)',                
              }"
              count="3"
            >
            </ngx-skeleton-loader>     
          </mat-card-content>
          <mat-divider class="divider"></mat-divider>
          <mat-card-content class="image-container">
            <ngx-skeleton-loader [theme]="{ width: '140px', height: '140px', backgroundColor: 'rgba(0, 0, 0, 0.075)' }" count="1"  appearance="circle"></ngx-skeleton-loader>   
          </mat-card-content>
          <mat-divider class="divider"></mat-divider>       
          <mat-card-footer class="image-text">
            <ngx-skeleton-loader
              class="image"
              [theme]="{ backgroundColor: 'rgba(0, 0, 0, 0.075)' }"
              count="1"
              appearance="circle"
            >
            </ngx-skeleton-loader>   
            <ngx-skeleton-loader
              class="text"
              [theme]="{height: '50px', backgroundColor: 'rgba(0, 0, 0, 0.075)' }"
              count="1"
            >
            </ngx-skeleton-loader> 
          </mat-card-footer>
          <mat-card-content>
            <ngx-skeleton-loader
              [theme]="{ backgroundColor: 'rgba(0, 0, 0, 0.075)' }"
              count="1"
            >
            </ngx-skeleton-loader>     
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>