@use './assets/styles/app-color-palette.scss';

html, body { 
  height: 100%; 
  font-family: "Titillium Web", "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  color: var(--z-fore);
  overflow: hidden;
}

:root {
    --fore-color : var(--z-colors-carbon);
    --primary-fore-color : var(--z-colors-white);
    --primary-background-color: var(--z-colors-dodgercolor);
}

body { 
  margin: 0; 
}

.close-icon {
    width: 64px;
    height: 64px;    
  }

.close-button {
    margin-right: 5px;
}

.tooltip-general {
  font-size: 2rem !important;
  background-color: var(--z-colors-red) !important;  
  border: 2px solid var(--z-colors-red) !important;
  color: white !important;
  border-radius: 4px;
  white-space: pre-line;
}

::-webkit-scrollbar {
    width: 20px;
    height: 16px;
}

::-webkit-scrollbar-button {
    background: #bbbbbb !important;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: #909090 !important;
    border-radius: 3px; 
    height: 20px !important;
    width: 26px !important;
}

::-webkit-scrollbar-track-piece {
    background: lightgray !important;
    border-color: var(--z-border-color) !important;
}

::-webkit-scrollbar-thumb {
    background: rgba( 0 , 0, 0, 0.2) !important;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: darkgray !important;
    border-radius: 3px; 
    margin: 3px;
}

::-webkit-scrollbar-track {
    background: white !important;
    margin: 3px;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: var(--z-border-color) !important;
    border-radius: 3px; 
}

button:disabled {
    color: var(--z-disabled-color);  
    cursor: url("./assets/icons/unable.png"), not-allowed;    
    .mat-icon {
      color: var(--z-disabled-color);
    }
}
  
mat-icon {
    color: var(--z-primary);
    width: 32px;
    height: 32px;
}

.button-locked {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    z-index: 999;
}

.small-locked {
  color: var(--z-primary);
}
