@use './assets/styles/app-color-palette.scss';
@use "./assets/styles/mixins";

html, body { 
  height: 100%; 
  font-family: "Titillium Web", "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  color: var(--z-colors-page-fore);
  overflow: hidden;
  background-color: var(mo);
}

body { 
    margin: 0; 
    .mat-mdc-tooltip {
        --mdc-plain-tooltip-supporting-text-size: 16px;     
        --mdc-plain-tooltip-container-color: var(--z-colors-white); 
        --mdc-plain-tooltip-supporting-text-color: var(--z-colors-fore);
        --mdc-plain-tooltip-supporting-text-weight: 400;
        --mdc-plain-tooltip-supporting-text-tracking: 0.0333333333em;

        line-height: 16px;
    }
}

.close-icon {
    width: 64px;
    height: 64px;    
  }

.close-button {
    margin-right: 5px;
}

.tooltip-general {
  border: 3px solid var(--z-colors-carbon);
  border-radius: 4px;
  max-width: unset !important;
}

.mdc-tooltip__surface {
  max-width: unset !important;
}

::-webkit-scrollbar {
    width: 18px;
    height: 16px;
}

::-webkit-scrollbar-button {
    background: #bbbbbb !important;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: #909090 !important;
    border-radius: 3px; 
    height: 20px !important;
    width: 26px !important;
}

::-webkit-scrollbar-track-piece {
    background: lightgrey !important;
    border-color: var(--z-colors-page-border) !important;
}

::-webkit-scrollbar-thumb {
    background: rgba( 0 , 0, 0, 0.2) !important;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: darkgray !important;
    border-radius: 3px; 
    margin: 3px;
}

::-webkit-scrollbar-track {
    background: var(--z-colors-white) !important;
    margin: 3px;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-color: var(--z-colors-page-border) !important;
    border-radius: 3px; 
}

mat-icon {
    width: 32px;
    height: 32px;
}

.button-locked {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    z-index: 999;
}

.small-locked {
  color: var(--z-colors-page-primary);
}

.toolbar-button {
  color: var(--z-colors-page-button-normal-fore-color) !important;  
  background-color: var(--z-colors-page-button-normal-background-color) !important;
  border-color: var(--z-colors-page-button-border) !important;  
  cursor: pointer;    
  .mat-icon {
    color: var(--z-colors-page-fore) !important;
  }
}

.toolbar-button:hover:not(.toolbar-button.primary, .toolbar-button.warn, .toolbar-button.accent) {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 0.5em rgba(#fff,0);
  color: var(--theme-primary-500) !important;
  border-color: var(--theme-primary-500) !important;  
  mat-icon {
    color: var(--theme-primary-500) !important;
  }
}

.toolbar-button:hover:not(.toolbar-button.warn, .toolbar-button.primary, .toolbar-button.accent) {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 0.5em rgba(#fff,0);
}

.toolbar-button.warn:hover {
  animation: pulse-warn 0.5s;
  box-shadow: 0 0 0 0.5em rgba(#fff,0);
}

.toolbar-button.primary:hover {
  animation: pulse-primary 0.5s;
  box-shadow: 0 0 0 0.5em rgba(#fff,0);
}

.toolbar-button.accent:hover {
  animation: pulse-accent 0.5s;
  box-shadow: 0 0 0 0.5em rgba(#fff,0);
}

.toolbar-button.warn:not(:disabled) {
  background-color: var(--theme-warn-500) !important;
  border-color: var(--theme-warn-500) !important;
  color: var(--theme-warn-contrast-500) !important;
  mat-icon {
    color: var(--theme-warn-contrast-500) !important;
  }
}

.toolbar-button.primary:not(:disabled) {
  background-color: var(--theme-primary-500) !important;
  border-color: var(--theme-primary-500) !important;
  color: var(--theme-primary-contrast-500) !important;
  mat-icon {
    color: var(--theme-primary-contrast-500) !important;
  }
}

.toolbar-button.accent:not(:disabled) {
  background-color: var(--theme-accent-500) !important;
  border-color: var(--theme-accent-500) !important;
  color: var(--theme-accent-contrast-500) !important;
  mat-icon {
    color: var(--theme-accent-contrast-500) !important;
  }
}

.toolbar-button:before {
  border: 2px solid var(--z-colors-page-background-color) !important;
  border-radius: 7px 0px;
  content: "";
  display: block;
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  right: 0.5px;
  bottom: 0.5px;
  pointer-events: none;
}

button:disabled {
  color: var(--z-colors-page-disabled-color) !important;  
  background-color: var(--z-colors-page-background) !important;
  border-color: var(--z-colors-page-button-disabled-border) !important;  
  cursor: url("./assets/icons/unable.png"), not-allowed;    
  .mat-icon {
    color: var(--z-colors-page-disabled-color) !important;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--theme-primary-500); }
}

@keyframes pulse-warn {
  0% { box-shadow: 0 0 0 0 var(--theme-warn-500); }
}

@keyframes pulse-primary {
  0% { box-shadow: 0 0 0 0 var(--theme-primary-500); }
}

@keyframes pulse-accent {
  0% { box-shadow: 0 0 0 0 var(--theme-accent-500); }
}

mat-card {
  background-color: var(--z-colors-page-card-background-color) !important;
}

.footer {
    background-color: var(--z-colors-page-footer-background-color) !important;
    color: var(--z-colors-page-footer-fore-color) !important;
}

.circular-button {
  color: var(--z-colors-page-button-normal-fore-color) !important;  
  background-color: var(--z-colors-page-button-normal-background-color);
  border-color: var(--z-colors-page-button-border);  
  cursor: pointer;    
  .mat-icon {
    color: var(--z-colors-page-fore) !important;
  }
}

.circular-button:hover:not(.circular-button.primary, .circular-button.warn, .circular-button.accent) {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 3px rgba(#fff,0);
  color: var(--theme-primary-500) !important;
  border-color: var(--theme-primary-500) !important;  
  mat-icon {
    color: var(--theme-primary-500) !important;
  }
}

.circular-button:hover:not(.circular-button.warn, .circular-button.primary, .circular-button.accent) {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 6px rgba(#fff,0);
}

.circular-button.warn:hover {
  animation: pulse-warn 0.5s;
  box-shadow: 0 0 0 6px rgba(#fff,0);
}

.circular-button.primary:hover {
  animation: pulse-primary 0.5s;
  box-shadow: 0 0 0 6px rgba(#fff,0);
}

.circular-button.accent:hover {
  animation: pulse-accent 0.5s;
  box-shadow: 0 0 0 6px rgba(#fff,0);
}

.circular-button.warn:not(:disabled) {
  background-color: var(--theme-warn-500) !important;
  border-color: var(--theme-warn-500) !important;
  color: var(--theme-warn-contrast-500) !important;
  mat-icon {
    color: var(--theme-warn-contrast-500) !important;
  }
}

.circular-button.primary:not(:disabled) {
  background-color: var(--theme-primary-500) !important;
  border-color: var(--theme-primary-500) !important;
  color: var(--theme-primary-contrast-500) !important;
  mat-icon {
    color: var(--theme-primary-contrast-500) !important;
  }
}

.circular-button.accent:not(:disabled) {
  background-color: var(--theme-accent-500) !important;
  border-color: var(--theme-accent-500) !important;
  color: var(--theme-accent-contrast-500) !important;
  mat-icon {
    color: var(--theme-accent-contrast-500) !important;
  }
}

.simple-flex {
  @include mixins.flexbox(row, wrap, 1px, flex-start);    
}

.legacy-alarm {
  background-color: var(--theme-warn-500) !important;
  color: var(--theme-warn-contrast-500) !important;
}

.legacy-accent {
  background-color: var(--theme-warn-500) !important;
  color: var(--theme-warn-contrast-500) !important;
}

.legacy-primary {
  background-color: var(--theme-warn-500) !important;
  color: var(--theme-warn-contrast-500) !important;
}