<div
    class="container"
    i18n
    [ngStyle]="{ 
        'width': diameter + 'px', 
        'height': diameter + 'px' 
    }"
>
    <mat-progress-spinner
      *ngIf="showBackgound && value < 100"
      class="spinner gray"
      [diameter]="diameter"      
      [ngClass]="metterClass"
      mode="determinate"      
      value="100"
    >
    </mat-progress-spinner>
    <mat-progress-spinner
      class="spinner"
      [ngClass]="metterClass"
      [diameter]="diameter"      
      [mode]="spinnerMode"
      [value]="value"      
    >
    </mat-progress-spinner>
    <div 
      class="chart-value"
      [ngClass]="metterClass"
      [ngStyle]="{ 'font-size': fontSize, 'font-weight': fontWeight, }"
    >
      <span
        *ngIf="showPrefix"
        [ngStyle]="{ 'font-size': smallFont.size + 'rem', 'font-weight': smallFont.weight, }"
      >
        {{prefix}}
      </span>
      <span><strong>{{ valueToShow | number }}</strong></span><span *ngIf="suffix" [ngStyle]="{ 'font-size': smallFont.size + 'rem', 'font-weight': smallFont.weight, }">{{suffix}}</span>
    </div>
  </div>
