.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.meter-0 {
    color: var(--z-colors-page-primary);
    ::ng-deep circle {
        stroke: var(--z-colors-page-primary);    
    }
}

.meter-1 {
    color: var(--z-colors-status-ok);
    ::ng-deep circle {
        stroke: var(--z-colors-status-ok);    
    }
}

.meter-2 {
    color: var(--z-colors-status-warn);
    ::ng-deep circle {
        stroke: var(--z-colors-status-warn);
    }
}

.meter-3 {
    color: var(--z-colors-status-alarm);
    ::ng-deep circle {
        stroke: var(--z-colors-status-alarm);
    }
}

.meter-4 {
    color: var(--z-molds-hits-spinner-stroke-meter-4);
    ::ng-deep circle {
        stroke: var(--z-molds-hits-spinner-stroke-meter-4);
    }
}

.meter-5 {
    color: var(--z-molds-hits-spinner-stroke-meter-5);
    ::ng-deep circle {
        stroke: var(--z-molds-hits-spinner-stroke-meter-5);
    }
}

.meter-6 {
    color: var(--z-molds-hits-spinner-stroke-meter-6);
    ::ng-deep circle {
        stroke: var(--z-molds-hits-spinner-stroke-meter-6);
    }
}

.spinner {
    position: absolute;
}

.gray {
    opacity: 0.1;
}

.chart-value {
    transform: scale(1, 2);
}
